Repository carpenike/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/hack, area/infrastructure

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "cluster/**/*"
area/hack:
  - "hack/**/*"
area/infrastructure:
  - "infrastructure/**/*"

feat(container): update image ghcr.io/shlinkio/shlink to v3.5.0
  cluster/clusters/cluster-0/selfhosted/shlink/api/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.1.2.2439
  cluster/clusters/cluster-0/media/prowlarr/helm-release.yaml
Labels: area/cluster

feat(github-release): update pre-commit hook sirosen/texthooks to 0.5.0
  .pre-commit-config.yaml
Labels: none

feat(container): update image ghcr.io/sct/overseerr to v1.32.4
  cluster/clusters/cluster-0/media/overseerr/helm-release.yaml
Labels: area/cluster

feat(container): update image ghcr.io/tarampampam/error-pages to v2.20.0
  cluster/clusters/cluster-0/network/ingress-nginx/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/bjw-s/calibre-web to 4183d6c
  cluster/clusters/cluster-0/media/calibre-web/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.1.2.2447
  cluster/clusters/cluster-0/media/prowlarr/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/bjw-s/calibre-web to 48c632b
  cluster/clusters/cluster-0/media/calibre-web/helm-release.yaml
Labels: area/cluster

feat(container): update image mbentley/omada-controller to v5.8
  cluster/clusters/cluster-0/network/omada/controller/helm-release.yaml
Labels: area/cluster

fix(helm): update chart reloader to v1.0.3
  cluster/clusters/cluster-0/kube-system/reloader/helm-release.yaml
Labels: area/cluster

update loki-config for v4
  cluster/clusters/cluster-0/monitoring/loki/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.1.2.2459
  cluster/clusters/cluster-0/media/prowlarr/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.1.3.2464
  cluster/clusters/cluster-0/media/prowlarr/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/zwave-js/zwave-js-ui to v8.8.3
  cluster/clusters/cluster-0/home/zwavejs2mqtt/helm-release.yaml
Labels: area/cluster

fix(helm): update chart thanos to 12.0.1
  cluster/clusters/cluster-0/monitoring/thanos/helm-release.yaml
Labels: area/cluster

fix(container): update image vectorim/element-web to v1.11.21
  cluster/clusters/cluster-0/matrix/element/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/sct/overseerr to v1.32.5
  cluster/clusters/cluster-0/media/overseerr/helm-release.yaml
Labels: area/cluster

feat(helm): update chart vcluster to 0.14.0
  cluster/clusters/cluster-0/staging-tenant/vcluster/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/bjw-s/calibre-web to b56715e
  cluster/clusters/cluster-0/media/calibre-web/helm-release.yaml
Labels: area/cluster

feat(helm): update chart kyverno to 2.7.0
  cluster/clusters/cluster-0/system/kyverno/app/helm-release.yaml
Labels: area/cluster

Move to all control plane nodes, update talos and k8s
  infrastructure/talos/cluster-0/kustomization.yaml
  infrastructure/talos/cluster-0/talconfig.yaml
  infrastructure/talos/cluster-0/talenv.sops.yaml
Labels: area/infrastructure

add additional control plane nodes to haproxy config
  infrastructure/vyos/files/haproxy/haproxy.cfg.tftpl
Labels: area/infrastructure

drop the admissionController for now
  infrastructure/talos/cluster-0/talconfig.yaml
Labels: area/infrastructure

fix(helm): update chart ingress-nginx to 4.4.3
  cluster/clusters/cluster-0/network/ingress-nginx/helm-release.yaml
Labels: area/cluster

add backups to obsidian-couchdb
  cluster/clusters/cluster-0/selfhosted/obsidian-couchdb/backups/externalsecret.yaml
  cluster/clusters/cluster-0/selfhosted/obsidian-couchdb/backups/kustomization.yaml
  cluster/clusters/cluster-0/selfhosted/obsidian-couchdb/backups/replicationsource.yaml
  cluster/clusters/cluster-0/selfhosted/obsidian-couchdb/kustomization.yaml
Labels: area/cluster

add label to obsidian pvc
  cluster/clusters/cluster-0/selfhosted/obsidian-couchdb/data-pvc.yaml
Labels: area/cluster

move to shaw tag
  cluster/clusters/cluster-0/selfhosted/excalidraw/collaboration/helm-release.yaml
Labels: area/cluster

move to sha tag
  cluster/clusters/cluster-0/selfhosted/excalidraw/draw/helm-release.yaml
Labels: area/cluster

flip the switch to auth0
  cluster/clusters/cluster-0/flux-system/definitions/security.yaml
  cluster/clusters/cluster-0/security/oauth2-proxy/app/externalsecret.yaml
  cluster/clusters/cluster-0/security/oauth2-proxy/app/helm-release.yaml
  cluster/clusters/cluster-0/security/oauth2-proxy/app/kustomization.yaml
  cluster/clusters/cluster-0/security/oauth2-proxy/redis/externalsecret.yaml
  cluster/clusters/cluster-0/security/oauth2-proxy/redis/helm-release.yaml
  cluster/clusters/cluster-0/security/oauth2-proxy/redis/kustomization.yaml
Labels: area/cluster

update auth annotations to use oauth2-proxy instead
  cluster/clusters/cluster-0/system/kyverno/policies/apply-ingress-auth-annotations.yaml
Labels: area/cluster

external registration important for auth service
  cluster/clusters/cluster-0/security/oauth2-proxy/app/helm-release.yaml
Labels: area/cluster

deploy descheduler
  cluster/clusters/cluster-0/flux-system/definitions/system.yaml
  cluster/clusters/cluster-0/system/descheduler/app/helm-release.yaml
  cluster/clusters/cluster-0/system/descheduler/app/kustomization.yaml
Labels: area/cluster

feat(container): update image quay.io/oauth2-proxy/oauth2-proxy to v7.4.0
  cluster/clusters/cluster-0/security/oauth2-proxy/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.1.3.2490
  cluster/clusters/cluster-0/media/prowlarr/helm-release.yaml
Labels: area/cluster

add second ingress for radarr API thtat isn't auth'd
  cluster/clusters/cluster-0/media/radarr/helm-release.yaml
Labels: area/cluster

update prowlarr with api endpoint not auth'd
  cluster/clusters/cluster-0/media/prowlarr/helm-release.yaml
Labels: area/cluster

update readarr to not use api auth
  cluster/clusters/cluster-0/media/readarr/audio/helm-release.yaml
  cluster/clusters/cluster-0/media/readarr/ebooks/helm-release.yaml
Labels: area/cluster

update sabnzbd to not require auth for api
  cluster/clusters/cluster-0/media/sabnzbd/helm-release.yaml
Labels: area/cluster

wrong endpoint
  cluster/clusters/cluster-0/media/sabnzbd/helm-release.yaml
Labels: area/cluster

update tautulli to use api-endpoint not auth'd
  cluster/clusters/cluster-0/media/tautulli/helm-release.yaml
Labels: area/cluster
