Repository carpenike/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/hack, area/infrastructure

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "cluster/**/*"
area/hack:
  - "hack/**/*"
area/infrastructure:
  - "infrastructure/**/*"

not kustomization, ks
  kubernetes/nas-1/apps/default/kustomization.yaml
Labels: none

adjust api
  kubernetes/nas-1/apps/default/minio/ks.yaml
Labels: none

disable servicemonitor
  kubernetes/nas-1/apps/default/minio/app/helmrelease.yaml
Labels: none

see if this path is different
  kubernetes/nas-1/apps/default/minio/app/helmrelease.yaml
Labels: none

hardcode mountPath
  kubernetes/nas-1/apps/default/minio/app/helmrelease.yaml
Labels: none

deploy letsencrypt cert-manager
  kubernetes/nas-1/apps/cert-manager/cert-manager/app/helmrelease.yaml
  kubernetes/nas-1/apps/cert-manager/cert-manager/app/kustomization.yaml
  kubernetes/nas-1/apps/cert-manager/cert-manager/issuers/externalsecret.yaml
  kubernetes/nas-1/apps/cert-manager/cert-manager/issuers/issuer-letsencrypt-prd.yaml
  kubernetes/nas-1/apps/cert-manager/cert-manager/issuers/issuer-letsencrypt-staging.yaml
  kubernetes/nas-1/apps/cert-manager/cert-manager/issuers/kustomization.yaml
  kubernetes/nas-1/apps/cert-manager/cert-manager/ks.yaml
  kubernetes/nas-1/apps/cert-manager/kustomization.yaml
  kubernetes/nas-1/apps/cert-manager/namespace.yaml
Labels: none

add jetstack helm repo
  kubernetes/nas-1/flux/repositories/helm/jetstack.yaml
  kubernetes/nas-1/flux/repositories/helm/kustomization.yaml
Labels: none

add traefik middleware
  kubernetes/nas-1/apps/kube-system/kustomization.yaml
  kubernetes/nas-1/apps/kube-system/traefik/ks.yaml
  kubernetes/nas-1/apps/kube-system/traefik/middleware/redirect-https-middleware.yaml
Labels: none

add namespace
  kubernetes/nas-1/apps/kube-system/traefik/middleware/redirect-https-middleware.yaml
Labels: none

add annotations for letsecnrypt
  kubernetes/nas-1/apps/default/minio/app/helmrelease.yaml
Labels: none

fix(container): update image busybox to 62d10dc
  cluster/clusters/cluster-0/selfhosted/obsidian-couchdb/helm-release.yaml
Labels: area/cluster

fix(container): update image busybox to a8629bc
  cluster/clusters/cluster-0/selfhosted/obsidian-couchdb/helm-release.yaml
Labels: area/cluster

add secretName for tls certs
  kubernetes/nas-1/apps/default/minio/app/helmrelease.yaml
Labels: none

api key name was wrong
  kubernetes/nas-1/apps/cert-manager/cert-manager/issuers/issuer-letsencrypt-prd.yaml
  kubernetes/nas-1/apps/cert-manager/cert-manager/issuers/issuer-letsencrypt-staging.yaml
Labels: none

secret name was wrong
  kubernetes/nas-1/apps/cert-manager/cert-manager/issuers/issuer-letsencrypt-prd.yaml
  kubernetes/nas-1/apps/cert-manager/cert-manager/issuers/issuer-letsencrypt-staging.yaml
Labels: none

use tls on ingress
  kubernetes/nas-1/apps/default/minio/app/helmrelease.yaml
Labels: none

fix(container): update image busybox to 9e2bbca
  cluster/clusters/cluster-0/selfhosted/obsidian-couchdb/helm-release.yaml
Labels: area/cluster

fix(container): update image mbentley/omada-controller to 85c58b3
  cluster/clusters/cluster-0/network/omada/controller/helm-release.yaml
Labels: area/cluster

fix(helm): update chart loki to 5.5.1
  cluster/clusters/cluster-0/monitoring/loki/helm-release.yaml
Labels: area/cluster

s3 already owned by ceph
  kubernetes/nas-1/apps/default/minio/app/helmrelease.yaml
Labels: none

forgot to change the vars
  kubernetes/nas-1/apps/default/minio/app/helmrelease.yaml
Labels: none

update cluster config to use minio endpoint
  cluster/clusters/cluster-0/db/cloudnative-pg/cluster/cluster.yaml
Labels: area/cluster

use minio-s3 instead of minio
  cluster/clusters/cluster-0/db/cloudnative-pg/cluster/cluster.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.5.0.3320
  cluster/clusters/cluster-0/media/prowlarr/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.5.0.3324
  cluster/clusters/cluster-0/media/prowlarr/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.5.0.3326
  cluster/clusters/cluster-0/media/prowlarr/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/readarr-nightly to v0.1.5.1801
  cluster/clusters/cluster-0/media/readarr/audio/helm-release.yaml
  cluster/clusters/cluster-0/media/readarr/ebooks/helm-release.yaml
Labels: area/cluster

feat(container): update image ghcr.io/onedr0p/postgres-initdb to v14.8
  cluster/clusters/cluster-0/home/home-assistant/app/patches/postgres.yaml
  cluster/clusters/cluster-0/matrix/facebook/patches/postgres.yaml
  cluster/clusters/cluster-0/matrix/pantalaimon/patches/postgres.yaml
  cluster/clusters/cluster-0/matrix/signal/patches/postgres.yaml
  cluster/clusters/cluster-0/matrix/signald/patches/postgres.yaml
  cluster/clusters/cluster-0/matrix/slack-puppet/patches/postgres.yaml
  cluster/clusters/cluster-0/matrix/whatsapp/patches/postgres.yaml
  cluster/clusters/cluster-0/media/immich/app/server/helm-release.yaml
  cluster/clusters/cluster-0/security/authelia/app/patches/postgres.yaml
  cluster/clusters/cluster-0/selfhosted/shlink/api/patches/postgres.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.5.0.3328
  cluster/clusters/cluster-0/media/prowlarr/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.5.0.3329
  cluster/clusters/cluster-0/media/prowlarr/helm-release.yaml
Labels: area/cluster

add task files for rook cleanup
  .taskfiles/_scripts/wait-for-k8s-job.sh
  .taskfiles/rook/WipeDiskJob.tmpl.yaml
  .taskfiles/rook/WipeRookDataJob.tmpl.yaml
  .taskfiles/rook/tasks.yaml
  Taskfile.yml
Labels: none

add replacement for sdd back in
  cluster/clusters/cluster-0/rook-ceph/cluster/helm-release.yaml
Labels: area/cluster

update minio monitoring endpoint
  cluster/clusters/cluster-0/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/cluster

bump limits for objectstore
  cluster/clusters/cluster-0/rook-ceph/cluster/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.5.0.3330
  cluster/clusters/cluster-0/media/prowlarr/helm-release.yaml
Labels: area/cluster

add bridge interface so that I can run VMs
  provision/storage/servers/inventory/group_vars/master/k3s.yml
Labels: none

update bearer token for nas-1 prom
  cluster/clusters/cluster-0/flux-system/cluster-config/secret.sops.yaml
Labels: area/cluster

endpoint for minio was incorrect
  cluster/clusters/cluster-0/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/cluster

back to vda
  infrastructure/talos/cluster-0/talconfig.yaml
Labels: area/infrastructure

fix(container): update image ghcr.io/onedr0p/home-assistant to v2023.5.3
  cluster/clusters/cluster-0/home/home-assistant/app/helm-release.yaml
Labels: area/cluster
