Repository carpenike/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/hack, area/infrastructure

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "cluster/**/*"
area/hack:
  - "hack/**/*"
area/infrastructure:
  - "infrastructure/**/*"

deploy shlink web server
  cluster/clusters/cluster-0/flux-system/definitions/web-tools.yaml
  cluster/clusters/cluster-0/web-tools/shlink/web/helm-release.yaml
  cluster/clusters/cluster-0/web-tools/shlink/web/kustomization.yaml
  cluster/clusters/cluster-0/web-tools/shlink/web/secret.sops.yaml
Labels: area/cluster

different entry point
  cluster/clusters/cluster-0/web-tools/shlink/web/helm-release.yaml
Labels: area/cluster

add external-dns and auth to shlink, plus tls cert
  cluster/clusters/cluster-0/web-tools/shlink/api/helm-release.yaml
  cluster/clusters/cluster-0/web-tools/shlink/web/helm-release.yaml
Labels: area/cluster

add external access and auth
  cluster/clusters/cluster-0/media/media-browser/helm-release.yaml
  cluster/clusters/cluster-0/media/prowlarr/helm-release.yaml
  cluster/clusters/cluster-0/media/qbittorrent/helm-release.yaml
  cluster/clusters/cluster-0/media/radarr/helm-release.yaml
  cluster/clusters/cluster-0/media/readarr/audio/helm-release.yaml
  cluster/clusters/cluster-0/media/readarr/ebooks/helm-release.yaml
  cluster/clusters/cluster-0/media/sabnzbd/helm-release.yaml
  cluster/clusters/cluster-0/media/tautulli/helm-release.yaml
Labels: area/cluster

fix(helm): update chart kube-prometheus-stack to 39.12.1
  cluster/base/repositories/git/kube-prometheus-stack.yaml
  cluster/clusters/cluster-0/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/cluster

feat(helm): update chart grafana to 6.38.0
  cluster/clusters/cluster-0/monitoring/grafana/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/home-assistant to v2022.9.2
  cluster/clusters/cluster-0/home/home-assistant/app/helm-release.yaml
Labels: area/cluster

fix(container): update image qmcgaw/gluetun to v3.31.1
  cluster/clusters/cluster-0/vpn/media-gateway/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/miguelndecarvalho/speedtest-exporter to v3.5.3
  cluster/clusters/cluster-0/monitoring/speedtest-exporter/helm-release.yaml
Labels: area/cluster

feat(github-release): update pre-commit hook adrienverge/yamllint to v1.28.0
  .pre-commit-config.yaml
Labels: none

feat(github-release): update fluxcd/flux2 to v0.34.0
  cluster/clusters/cluster-0/kustomization.yaml
Labels: area/cluster

fix(container): update image timberio/vector to v0.24.1
  cluster/clusters/cluster-0/monitoring/vector/agent/helm-release.yaml
  cluster/clusters/cluster-0/monitoring/vector/aggregator/helm-release.yaml
Labels: area/cluster

fix(helm): update chart k10 to 5.0.8
  cluster/clusters/cluster-0/kasten-io/k10/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v0.4.6.1967
  cluster/clusters/cluster-0/media/prowlarr/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v0.4.6.1969
  cluster/clusters/cluster-0/media/prowlarr/helm-release.yaml
Labels: area/cluster

feat(helm): update chart kube-prometheus-stack to 39.13.1
  cluster/base/repositories/git/kube-prometheus-stack.yaml
  cluster/clusters/cluster-0/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/cluster

test commit
  cluster/clusters/cluster-0/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/cluster

update stuff to match working configs
  .github/workflows/helm-release-differ.yaml
  .github/workflows/lint.yaml
  .github/workflows/meta-enforce-labels.yaml
  .github/workflows/meta-label-size.yaml
  .github/workflows/meta-labeler.yaml
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/schedule-cloudflare-proxied-networks.yaml
  .github/workflows/schedule-link-checker.yaml
  .github/workflows/schedule-renovate.yaml
Labels: area/github

fix(container): update image ghcr.io/shlinkio/shlink-web-client to v3.7.3
  cluster/clusters/cluster-0/web-tools/shlink/web/helm-release.yaml
Labels: area/cluster

ignore terraform files
  .gitignore
Labels: none

update sops path for terraform files
  .sops.yaml
Labels: none

initial config / port to terraform vyos config
  infrastructure/address_book.yaml
  infrastructure/domains.sops.yaml
  infrastructure/networks.yaml
  infrastructure/vyos/.terraform.lock.hcl
  infrastructure/vyos/config/container-networks.tf
  infrastructure/vyos/config/containers-adguard-home.tf
  infrastructure/vyos/config/containers-coredns.tf
  infrastructure/vyos/config/containers-haproxy.tf
  infrastructure/vyos/config/containers-udp-broadcast-relay.tf
  infrastructure/vyos/config/containers-vector.tf
  infrastructure/vyos/config/firewall.tf
  infrastructure/vyos/config/interfaces.tf
  infrastructure/vyos/config/locals.tf
  infrastructure/vyos/config/main.tf
  infrastructure/vyos/config/nat.tf
  infrastructure/vyos/config/protocols-bgp.tf
  infrastructure/vyos/config/scripts.tf
  infrastructure/vyos/config/service-dhcp-server.tf
  infrastructure/vyos/config/service-dns-dynamic.tf
  infrastructure/vyos/config/service-http-api.tf
  infrastructure/vyos/config/service-ssh.tf
  infrastructure/vyos/config/system.tf
  infrastructure/vyos/config/variables.tf
  infrastructure/vyos/config/zone_policy.tf
  infrastructure/vyos/files/coredns/Corefile.tftpl
  infrastructure/vyos/files/coredns/hosts.tftpl
  infrastructure/vyos/files/haproxy/haproxy.cfg.tftpl
  infrastructure/vyos/files/vector-agent/vector.yaml.tftpl
  infrastructure/vyos/firewall_rules.yaml
  infrastructure/vyos/locals.tf
  infrastructure/vyos/main.tf
  infrastructure/vyos/providers.tf
  infrastructure/vyos/scripts/commit/pre-hooks.d/add-container-images.sh
  infrastructure/vyos/secret.sops.yaml
  infrastructure/vyos/settings.yaml
Labels: area/infrastructure

convert to host_id instead of ipv4 address (pita)
  infrastructure/address_book.yaml
Labels: area/infrastructure

incorrect variable name
  infrastructure/vyos/settings.yaml
Labels: area/infrastructure

update sops regex for infra secrets
  .sops.yaml
Labels: none

relocate the comment
  infrastructure/address_book.yaml
Labels: area/infrastructure

update the encrypted files with new sops config
  infrastructure/domains.sops.yaml
  infrastructure/vyos/secret.sops.yaml
Labels: area/infrastructure

more changes to reflect environment
  infrastructure/vyos/config/nat.tf
  infrastructure/vyos/locals.tf
  infrastructure/vyos/main.tf
  infrastructure/vyos/providers.tf
Labels: area/infrastructure

remove comments
  infrastructure/vyos/firewall_rules.yaml
Labels: area/infrastructure

fixed invalid variable
  infrastructure/vyos/secret.sops.yaml
Labels: area/infrastructure

missing accept action
  infrastructure/vyos/firewall_rules.yaml
Labels: area/infrastructure

lint updates
  infrastructure/vyos/settings.yaml
Labels: area/infrastructure

update container configs to point to proper interface
  infrastructure/vyos/config/containers-udp-broadcast-relay.tf
Labels: area/infrastructure

set correct interface for dyndns
  infrastructure/vyos/config/service-dns-dynamic.tf
Labels: area/infrastructure

feat(helm): update chart grafana to 6.38.1
  cluster/clusters/cluster-0/monitoring/grafana/helm-release.yaml
Labels: area/cluster

feat(helm)!: Update chart kube-prometheus-stack to 40.0.0
  cluster/base/repositories/git/kube-prometheus-stack.yaml
  cluster/clusters/cluster-0/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/cluster

feat(helm): update chart app-template to 0.2.0
  cluster/clusters/cluster-0/home/amcrest2mqtt/helm-release.yaml
  cluster/clusters/cluster-0/home/frigate/helm-release.yaml
  cluster/clusters/cluster-0/home/home-assistant/app/helm-release.yaml
  cluster/clusters/cluster-0/home/home-assistant/code-server/helm-release.yaml
  cluster/clusters/cluster-0/home/zigbee2mqtt/helm-release.yaml
  cluster/clusters/cluster-0/home/zwavejs2mqtt/helm-release.yaml
  cluster/clusters/cluster-0/media/media-browser/helm-release.yaml
  cluster/clusters/cluster-0/media/overseerr/helm-release.yaml
  cluster/clusters/cluster-0/media/plex/helm-release.yaml
  cluster/clusters/cluster-0/media/prowlarr/helm-release.yaml
  cluster/clusters/cluster-0/media/qbittorrent/helm-release.yaml
  cluster/clusters/cluster-0/media/radarr/helm-release.yaml
  cluster/clusters/cluster-0/media/readarr/audio/helm-release.yaml
  cluster/clusters/cluster-0/media/readarr/ebooks/helm-release.yaml
  cluster/clusters/cluster-0/media/sabnzbd/helm-release.yaml
  cluster/clusters/cluster-0/media/sonarr/helm-release.yaml
  cluster/clusters/cluster-0/media/tautulli/helm-release.yaml
  cluster/clusters/cluster-0/monitoring/speedtest-exporter/helm-release.yaml
  cluster/clusters/cluster-0/network/k8s-gateway/helm-release.yaml
  cluster/clusters/cluster-0/network/theme-park/helm-release.yaml
  cluster/clusters/cluster-0/network/unifi/helm-release.yaml
  cluster/clusters/cluster-0/security/authelia/app/helm-release.yaml
  cluster/clusters/cluster-0/security/authelia/redis/helm-release.yaml
  cluster/clusters/cluster-0/security/glauth/helm-release.yaml
  cluster/clusters/cluster-0/security/vaultwarden/helm-release.yaml
  cluster/clusters/cluster-0/web-tools/shlink/api/helm-release.yaml
  cluster/clusters/cluster-0/web-tools/shlink/web/helm-release.yaml
Labels: area/cluster

fix(helm): update chart redis to 17.1.5
  cluster/clusters/cluster-0/db/redis/helm-release.yaml
Labels: area/cluster

push to current testing
  infrastructure/address_book.yaml
  infrastructure/interfaces.bak
  infrastructure/networks.yaml
  infrastructure/service-http-api.tf
  infrastructure/vyos/config/nat.tf
  infrastructure/vyos/config/service-dns-dynamic.tf
  infrastructure/vyos/files/coredns/Corefile.tftpl
  infrastructure/vyos/files/haproxy/haproxy.cfg.tftpl
  infrastructure/vyos/settings.yaml
Labels: area/infrastructure

forgot to include k8s_gateway in search
  infrastructure/vyos/files/coredns/Corefile.tftpl
Labels: area/infrastructure
