Repository carpenike/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/kubernetes, cluster/main, cluster/nas-1

fix: update API versions and schema references in multiple instruction files
  .github/instructions/external-secrets.instructions.md
  .github/instructions/flux.instructions.md
  .github/instructions/helmrelease.instructions.md
  .github/instructions/yaml-schemas.instructions.md
Labels: area/ci

fix: update apiVersion to v1alpha1 in volsync kustomization.yaml and externalsecret.yaml
  kubernetes/cluster-0/components/volsync/kustomization.yaml
  kubernetes/cluster-0/components/volsync/minio/externalsecret.yaml
Labels: area/kubernetes, cluster/main

fix: update schema references and add volsync component in kustomization files
  kubernetes/cluster-0/apps/home/signal-cli/app/kustomization.yaml
  kubernetes/cluster-0/apps/home/signal-cli/ks.yaml
  kubernetes/cluster-0/components/volsync/kustomization.yaml
Labels: area/kubernetes, cluster/main

fix: add volsync component to kustomization files for bazarr
  kubernetes/cluster-0/apps/media/bazarr/app/kustomization.yaml
  kubernetes/cluster-0/apps/media/bazarr/ks.yaml
Labels: area/kubernetes, cluster/main

fix: update schema references and apiVersion in external-secrets and externalsecret files
  kubernetes/cluster-0/apps/security/external-secrets/ks.yaml
  kubernetes/cluster-0/components/volsync/minio/externalsecret.yaml
Labels: area/kubernetes, cluster/main

fix: remove volsync component from multiple kustomization and ks files
  kubernetes/cluster-0/apps/home/esphome/app/kustomization.yaml
  kubernetes/cluster-0/apps/home/esphome/ks.yaml
  kubernetes/cluster-0/apps/home/frigate/app/kustomization.yaml
  kubernetes/cluster-0/apps/home/frigate/ks.yaml
  kubernetes/cluster-0/apps/home/zigbee2mqtt/app/kustomization.yaml
  kubernetes/cluster-0/apps/home/zigbee2mqtt/ks.yaml
  kubernetes/cluster-0/apps/home/zwavejs2mqtt/app/kustomization.yaml
  kubernetes/cluster-0/apps/media/overseerr/app/kustomization.yaml
  kubernetes/cluster-0/apps/media/overseerr/ks.yaml
  kubernetes/cluster-0/apps/media/prowlarr/app/kustomization.yaml
  kubernetes/cluster-0/apps/media/qbittorrent/app/kustomization.yaml
  kubernetes/cluster-0/apps/media/qbittorrent/ks.yaml
  kubernetes/cluster-0/apps/media/radarr/app/kustomization.yaml
  kubernetes/cluster-0/apps/media/readarr/audio/kustomization.yaml
  kubernetes/cluster-0/apps/media/recyclarr/app/kustomization.yaml
  kubernetes/cluster-0/apps/media/recyclarr/ks.yaml
  kubernetes/cluster-0/apps/media/slskd/app/kustomization.yaml
  kubernetes/cluster-0/apps/media/sonarr/app/kustomization.yaml
  kubernetes/cluster-0/apps/media/tautulli/app/kustomization.yaml
  kubernetes/cluster-0/apps/media/tautulli/ks.yaml
  kubernetes/cluster-0/apps/selfhosted/open-webui/app/kustomization.yaml
  kubernetes/cluster-0/apps/selfhosted/open-webui/ks.yaml
  kubernetes/cluster-0/apps/selfhosted/paperless/app/kustomization.yaml
  kubernetes/cluster-0/apps/selfhosted/paperless/ks.yaml
  kubernetes/cluster-0/apps/selfhosted/teslamate/app/kustomization.yaml
Labels: area/kubernetes, cluster/main

fix: add volsync component to zwavejs2mqtt kustomization
  kubernetes/cluster-0/apps/home/zwavejs2mqtt/ks.yaml
Labels: area/kubernetes, cluster/main

fix: update HelmRelease configuration and improve pod security context
  kubernetes/nas-1/apps/default/minio/app/helmrelease.yaml
Labels: area/kubernetes, cluster/nas-1

fix: update apiVersion in bjw-s HelmRepository configuration
  kubernetes/nas-1/flux/repositories/helm/bjw-s.yaml
Labels: area/kubernetes, cluster/nas-1

fix: update apiVersion in external-secrets HelmRepository configuration
  kubernetes/nas-1/flux/repositories/helm/external-secrets.yaml
Labels: area/kubernetes, cluster/nas-1

fix: update apiVersion in ingress-nginx HelmRepository configuration
  kubernetes/nas-1/flux/repositories/helm/ingress-nginx.yaml
Labels: area/kubernetes, cluster/nas-1

fix: update apiVersion in multiple HelmRepository configurations to v1beta2
  kubernetes/nas-1/flux/repositories/helm/jetstack.yaml
  kubernetes/nas-1/flux/repositories/helm/kubernetes-sigs-descheduler.yaml
  kubernetes/nas-1/flux/repositories/helm/kubernetes-sigs-external-dns.yaml
  kubernetes/nas-1/flux/repositories/helm/kubernetes-sigs-metrics-server.yaml
  kubernetes/nas-1/flux/repositories/helm/kubernetes-sigs-nfd.yaml
Labels: area/kubernetes, cluster/nas-1

fix: comment out resources section in kustomization.yaml
  kubernetes/nas-1/flux/repositories/oci/kustomization.yaml
Labels: area/kubernetes, cluster/nas-1

fix: comment out unused resources in kustomization.yaml files
  kubernetes/nas-1/flux/repositories/kustomization.yaml
  kubernetes/nas-1/flux/repositories/oci/kustomization.yaml
Labels: area/kubernetes, cluster/nas-1

fix: update secret.sops.yaml to include new credential format and version
  kubernetes/nas-1/apps/kube-system/external-secrets/stores/secret.sops.yaml
Labels: area/kubernetes, cluster/nas-1

fix: update HelmRelease configuration with new chart version and interval settings
  kubernetes/nas-1/apps/kube-system/external-secrets/app/helmrelease.yaml
Labels: area/kubernetes, cluster/nas-1

fix: update HelmRelease chart version from 3.0.4 to 2.6.0
  kubernetes/nas-1/apps/default/minio/app/helmrelease.yaml
Labels: area/kubernetes, cluster/nas-1

fix: update HelmRepository URL to point to bjw-s-labs GitHub pages
  kubernetes/nas-1/flux/repositories/helm/bjw-s.yaml
Labels: area/kubernetes, cluster/nas-1

fix: correct HelmRelease chart version and update pod security context
  kubernetes/nas-1/apps/default/minio/app/helmrelease.yaml
Labels: area/kubernetes, cluster/nas-1

fix: enable main service and serviceMonitor, add pathType to ingress rules
  kubernetes/nas-1/apps/default/minio/app/helmrelease.yaml
Labels: area/kubernetes, cluster/nas-1

fix: update secret.sops.yaml with new encrypted data and metadata adjustments
  kubernetes/nas-1/apps/kube-system/external-secrets/stores/secret.sops.yaml
Labels: area/kubernetes, cluster/nas-1

fix: update secret names in clustersecretstore and secret.sops.yaml for consistency
  kubernetes/nas-1/apps/kube-system/external-secrets/stores/clustersecretstore.yaml
  kubernetes/nas-1/apps/kube-system/external-secrets/stores/secret.sops.yaml
Labels: area/kubernetes, cluster/nas-1

fix: update Kustomization apiVersion from v1beta2 to v1 for consistency
  kubernetes/nas-1/flux/cluster-apps.yaml
Labels: area/kubernetes, cluster/nas-1

feat: add cert-manager configuration files and update kustomization for deployment
  kubernetes/nas-1/apps/cert-manager/cert-manager/app/clusterissuer.yaml
  kubernetes/nas-1/apps/cert-manager/cert-manager/app/helm/kustomizeconfig.yaml
  kubernetes/nas-1/apps/cert-manager/cert-manager/app/helm/values.yaml
  kubernetes/nas-1/apps/cert-manager/cert-manager/app/helmrelease.yaml
  kubernetes/nas-1/apps/cert-manager/cert-manager/app/kustomization.yaml
  kubernetes/nas-1/apps/cert-manager/cert-manager/ks.yaml
  kubernetes/nas-1/apps/cert-manager/kustomization.yaml
Labels: area/kubernetes, cluster/nas-1

fix: update namespace references in kustomization file for consistency
  kubernetes/nas-1/apps/cert-manager/cert-manager/ks.yaml
Labels: area/kubernetes, cluster/nas-1

fix: comment out targetNamespace reference in kustomization file
  kubernetes/nas-1/apps/cert-manager/cert-manager/ks.yaml
Labels: area/kubernetes, cluster/nas-1

fix: uncomment targetNamespace reference in ks.yaml and remove namespace from kustomization.yaml
  kubernetes/nas-1/apps/cert-manager/cert-manager/ks.yaml
  kubernetes/nas-1/apps/cert-manager/kustomization.yaml
Labels: area/kubernetes, cluster/nas-1

fix: ensure wait is set to true in kustomization for cert-manager
  kubernetes/nas-1/apps/cert-manager/cert-manager/ks.yaml
Labels: area/kubernetes, cluster/nas-1

fix: comment out healthChecks section in kustomization file
  kubernetes/nas-1/apps/cert-manager/cert-manager/ks.yaml
Labels: area/kubernetes, cluster/nas-1

fix: update targetNamespace reference in ks.yaml to use cert-manager
  kubernetes/nas-1/apps/cert-manager/cert-manager/ks.yaml
Labels: area/kubernetes, cluster/nas-1

fix: comment out healthCheckExprs section in ks.yaml
  kubernetes/nas-1/apps/cert-manager/cert-manager/ks.yaml
Labels: area/kubernetes, cluster/nas-1

fix: comment out clusterissuer.yaml resource in kustomization file
  kubernetes/nas-1/apps/cert-manager/cert-manager/app/kustomization.yaml
Labels: area/kubernetes, cluster/nas-1

fix: uncomment healthChecks and healthCheckExprs sections in ks.yaml
  kubernetes/nas-1/apps/cert-manager/cert-manager/app/kustomization.yaml
  kubernetes/nas-1/apps/cert-manager/cert-manager/ks.yaml
Labels: area/kubernetes, cluster/nas-1

fix: update dependsOn reference in ks.yaml to use cert-manager
  kubernetes/nas-1/apps/network/ingress-nginx/ks.yaml
Labels: area/kubernetes, cluster/nas-1

feat: add ExternalSecret resource for Cloudflare API token
  kubernetes/nas-1/apps/cert-manager/cert-manager/app/externalsecret.yaml
  kubernetes/nas-1/apps/cert-manager/cert-manager/app/kustomization.yaml
Labels: area/kubernetes, cluster/nas-1

fix: correct resource reference for ExternalSecret in kustomization.yaml
  kubernetes/nas-1/apps/cert-manager/cert-manager/app/kustomization.yaml
Labels: area/kubernetes, cluster/nas-1

fix: update apiTokenSecretRef name in clusterissuer.yaml to match Cloudflare API token
  kubernetes/nas-1/apps/cert-manager/cert-manager/app/clusterissuer.yaml
Labels: area/kubernetes, cluster/nas-1

fix: update apiTokenSecretRef key in clusterissuer.yaml to use api-key
  kubernetes/nas-1/apps/cert-manager/cert-manager/app/clusterissuer.yaml
Labels: area/kubernetes, cluster/nas-1

fix: update serviceName and port references in helmrelease.yaml for consistency
  kubernetes/nas-1/apps/default/minio/app/helmrelease.yaml
Labels: area/kubernetes, cluster/nas-1

fix: add restoreOpts to ReplicationDestination for ownership handling
  kubernetes/cluster-0/components/volsync/minio/replicationdestination.yaml
Labels: area/kubernetes, cluster/main

.github/labeler.yaml:

---
# Area
area/ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
# Cluster
cluster/main:
  - changed-files:
      - any-glob-to-any-file: kubernetes/cluster-0/**/*
cluster/nas-1:
  - changed-files:
      - any-glob-to-any-file: kubernetes/nas-1/**/*
