Repository carpenike/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/hack, area/infrastructure

remove limits on immich machine learning
  cluster/clusters/cluster-0/media/immich/app/machine-learning/helm-release.yaml
Labels: area/cluster

fix(container): update image mbentley/omada-controller to 1d6a237
  cluster/clusters/cluster-0/network/omada/controller/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/kubernetes-kubectl to 657387a
  cluster/clusters/cluster-0/network/cloudflare-ddns/cron-job.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/postgres-initdb to b6cac2a
  cluster/clusters/cluster-0/home/home-assistant/app/patches/postgres.yaml
  cluster/clusters/cluster-0/matrix/facebook/patches/postgres.yaml
  cluster/clusters/cluster-0/matrix/pantalaimon/patches/postgres.yaml
  cluster/clusters/cluster-0/matrix/signal/patches/postgres.yaml
  cluster/clusters/cluster-0/matrix/signald/patches/postgres.yaml
  cluster/clusters/cluster-0/matrix/slack-puppet/patches/postgres.yaml
  cluster/clusters/cluster-0/matrix/whatsapp/patches/postgres.yaml
  cluster/clusters/cluster-0/security/authelia/app/patches/postgres.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to e69dcf6
  cluster/clusters/cluster-0/media/prowlarr/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/qbittorrent to 0efdd8d
  cluster/clusters/cluster-0/media/qbittorrent/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/home-assistant to 1dbc2ba
  cluster/clusters/cluster-0/home/home-assistant/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/readarr-nightly to 1bf7dc0
  cluster/clusters/cluster-0/media/readarr/audio/helm-release.yaml
  cluster/clusters/cluster-0/media/readarr/ebooks/helm-release.yaml
Labels: area/cluster

fix(container): update image vectorim/element-web to v1.11.31
  cluster/clusters/cluster-0/matrix/element/helm-release.yaml
Labels: area/cluster

minio endpoint url different
  cluster/clusters/cluster-0/db/cloudnative-pg/cluster/cluster.yaml
Labels: area/cluster

bump talos version
  infrastructure/talos/cluster-0/talconfig.yaml
Labels: area/infrastructure

update bearer token
  cluster/clusters/cluster-0/flux-system/cluster-config/secret.sops.yaml
Labels: area/cluster

minio endpoint changed
  cluster/clusters/cluster-0/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/cluster

drop https for minio for now
  cluster/clusters/cluster-0/db/cloudnative-pg/cluster/cluster.yaml
Labels: area/cluster

fix(container): update image ghcr.io/tailscale/tailscale to v1.40.1
  cluster/clusters/cluster-0/vpn/tailscale-gateway/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.491
  cluster/clusters/cluster-0/media/sonarr/helm-release.yaml
Labels: area/cluster

fix(container): update image mbentley/omada-controller to 1d6a237
  cluster/clusters/cluster-0/network/omada/controller/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.5.0.3316
  cluster/clusters/cluster-0/media/prowlarr/helm-release.yaml
Labels: area/cluster

initial commit for backup nas config
  .sops.yaml
  kubernetes/nas-1/apps/flux-system/kustomization.yaml
  kubernetes/nas-1/apps/flux-system/namespace.yaml
  kubernetes/nas-1/bootstrap/age-key.sops.yaml
  kubernetes/nas-1/bootstrap/kustomization.yaml
  kubernetes/nas-1/flux/cluster-apps.yaml
  kubernetes/nas-1/flux/config/cluster.yaml
  kubernetes/nas-1/flux/config/flux.yaml
  kubernetes/nas-1/flux/config/kustomization.yaml
  kubernetes/nas-1/flux/repositories/git/.gitkeep
  kubernetes/nas-1/flux/repositories/helm/ingress-nginx.yaml
  kubernetes/nas-1/flux/repositories/helm/kubernetes-sig-descheduler.yaml
  kubernetes/nas-1/flux/repositories/helm/kubernetes-sig-external-dns.yaml
  kubernetes/nas-1/flux/repositories/helm/kubernetes-sig-metrics-server.yaml
  kubernetes/nas-1/flux/repositories/helm/kubernetes-sigs-nfd.yaml
  kubernetes/nas-1/flux/repositories/helm/kustomization.yaml
  kubernetes/nas-1/flux/repositories/kustomization.yaml
  kubernetes/nas-1/flux/vars/cluster-settings.yaml
  kubernetes/nas-1/flux/vars/kustomization.yaml
  provision/storage/servers/.envrc
  provision/storage/servers/ansible.cfg
  provision/storage/servers/inventory/group_vars/all/os.yml
  provision/storage/servers/inventory/group_vars/master/k3s.yml
  provision/storage/servers/inventory/host_vars/nas-1.sops.yml
  provision/storage/servers/inventory/hosts.yml
  provision/storage/servers/playbooks/cluster-installation.yml
  provision/storage/servers/playbooks/cluster-nuke.yml
  provision/storage/servers/playbooks/cluster-prepare.yml
  provision/storage/servers/playbooks/templates/aliases.j2
  provision/storage/servers/playbooks/templates/msmtprc.j2
  provision/storage/servers/playbooks/templates/smartd.conf.j2
  provision/storage/servers/playbooks/templates/zed.rc.j2
  provision/storage/servers/requirements.yml
Labels: none

add additional path for sops encryption
  .sops.yaml
Labels: none

add bjw-s chart repo
  kubernetes/nas-1/flux/repositories/helm/bjw-s.yaml
  kubernetes/nas-1/flux/repositories/helm/kustomization.yaml
Labels: none

add readme for nas-1
  kubernetes/nas-1/README.md
Labels: none

add newline
  kubernetes/nas-1/README.md
Labels: none

fix cluster name
  kubernetes/nas-1/flux/config/cluster.yaml
Labels: none

add external-secrets helomrepo
  kubernetes/nas-1/flux/repositories/helm/external-secrets.yaml
Labels: none

fix filenames
  kubernetes/nas-1/flux/repositories/helm/kubernetes-sigs-descheduler.yaml
  kubernetes/nas-1/flux/repositories/helm/kubernetes-sigs-external-dns.yaml
  kubernetes/nas-1/flux/repositories/helm/kubernetes-sigs-metrics-server.yaml
Labels: none

add external-secrets store for nas
  kubernetes/nas-1/apps/kube-system/external-secrets/app/helmrelease.yaml
  kubernetes/nas-1/apps/kube-system/external-secrets/app/kustomization.yaml
  kubernetes/nas-1/apps/kube-system/external-secrets/ks.yaml
  kubernetes/nas-1/apps/kube-system/external-secrets/stores/clustersecretstore.yaml
  kubernetes/nas-1/apps/kube-system/external-secrets/stores/kustomization.yaml
  kubernetes/nas-1/apps/kube-system/external-secrets/stores/secret.sops.yaml
Labels: none

temp disable this file
  kubernetes/nas-1/apps/kube-system/external-secrets/stores/kustomization.yaml
Labels: none

Add some files for external-secrets
  kubernetes/nas-1/apps/kube-system/kustomization.yaml
  kubernetes/nas-1/apps/kube-system/namespace.yaml
Labels: none

beta2 not v1
  kubernetes/nas-1/apps/kube-system/external-secrets/ks.yaml
Labels: none

disable servicemonitor as prom not on this cluster
  kubernetes/nas-1/apps/kube-system/external-secrets/app/helmrelease.yaml
Labels: none

add clustersecretstore file
  kubernetes/nas-1/apps/kube-system/external-secrets/stores/kustomization.yaml
Labels: none

dumb
  kubernetes/nas-1/apps/kube-system/external-secrets/stores/clustersecretstore.yaml
Labels: none

change namespace
  kubernetes/nas-1/apps/kube-system/external-secrets/stores/secret.sops.yaml
Labels: none

fix(github-release): update grafana to v0.33.2
  cluster/base/repositories/git/grafana.yaml
Labels: area/cluster

swap the port
  kubernetes/nas-1/apps/kube-system/external-secrets/stores/clustersecretstore.yaml
Labels: none

change vault name
  kubernetes/nas-1/apps/kube-system/external-secrets/stores/clustersecretstore.yaml
Labels: none

initial minio deploy
  kubernetes/nas-1/apps/default/minio/app/externalsecret.yaml
  kubernetes/nas-1/apps/default/minio/app/helmrelease.yaml
  kubernetes/nas-1/apps/default/minio/app/kustomization.yaml
  kubernetes/nas-1/apps/default/minio/ks.yaml
Labels: none

add prom config
  kubernetes/nas-1/apps/default/minio/app/helmrelease.yaml
Labels: none

add ks config for default
  kubernetes/nas-1/apps/default/ks.yaml
  kubernetes/nas-1/apps/default/namespace.yaml
Labels: none

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "cluster/**/*"
area/hack:
  - "hack/**/*"
area/infrastructure:
  - "infrastructure/**/*"
