Repository carpenike/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/kubernetes, cluster/main, cluster/nas-1

timezone wrong
  kubernetes/cluster-0/apps/system-controllers/k8tz/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

this path needs to be on the qb mount
  kubernetes/cluster-0/apps/media/cross-seed/app/externalsecret.yaml
Labels: area/kubernetes, cluster/main

fix radarr
  kubernetes/cluster-0/apps/media/radarr/app/gatus.yaml
  kubernetes/cluster-0/apps/media/radarr/app/helmrelease.yaml
  kubernetes/cluster-0/apps/media/radarr/app/kustomization.yaml
  kubernetes/cluster-0/apps/media/radarr/app/pvc.yaml
  kubernetes/cluster-0/apps/media/radarr/app/volsync.yaml
  kubernetes/cluster-0/apps/media/radarr/ks.yaml
Labels: area/kubernetes, cluster/main

remove namespace
  kubernetes/cluster-0/apps/media/radarr/app/externalsecret.yaml
Labels: area/kubernetes, cluster/main

missing script
  kubernetes/cluster-0/apps/media/radarr/app/resources/pushover-notify.sh
Labels: area/kubernetes, cluster/main

variable name wrong
  kubernetes/cluster-0/apps/media/radarr/app/externalsecret.yaml
Labels: area/kubernetes, cluster/main

need a full name
  kubernetes/cluster-0/apps/media/qbittorrent/app/helmrelease.yaml
  kubernetes/cluster-0/apps/media/qbittorrent/ks.yaml
Labels: area/kubernetes, cluster/main

name was wrong
  kubernetes/cluster-0/apps/media/qbittorrent/ks.yaml
Labels: area/kubernetes, cluster/main

update qb mount name
  kubernetes/cluster-0/apps/media/cross-seed/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix autobrr
  kubernetes/cluster-0/apps/media/autobrr/app/configs/config.toml
  kubernetes/cluster-0/apps/media/autobrr/app/externalsecret.yaml
  kubernetes/cluster-0/apps/media/autobrr/app/gatus.yaml
  kubernetes/cluster-0/apps/media/autobrr/app/helmrelease.yaml
  kubernetes/cluster-0/apps/media/autobrr/app/kustomization.yaml
  kubernetes/cluster-0/apps/media/autobrr/app/resources/lokirule.yaml
  kubernetes/cluster-0/apps/media/autobrr/app/volsync.yaml
  kubernetes/cluster-0/apps/media/autobrr/ks.yaml
Labels: area/kubernetes, cluster/main

spelt wrong
  kubernetes/cluster-0/apps/media/cross-seed/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix bazarr
  kubernetes/cluster-0/apps/media/bazarr/app/externalsecret.yaml
  kubernetes/cluster-0/apps/media/bazarr/app/helmrelease.yaml
  kubernetes/cluster-0/apps/media/bazarr/app/kustomization.yaml
  kubernetes/cluster-0/apps/media/bazarr/app/pvc.yaml
  kubernetes/cluster-0/apps/media/bazarr/app/resources/subcleaner.sh
  kubernetes/cluster-0/apps/media/bazarr/app/volsync.yaml
  kubernetes/cluster-0/apps/media/bazarr/ks.yaml
Labels: area/kubernetes, cluster/main

name wrong
  kubernetes/cluster-0/apps/media/cross-seed/app/externalsecret.yaml
Labels: area/kubernetes, cluster/main

create pvc
  kubernetes/cluster-0/apps/media/bazarr/app/kustomization.yaml
Labels: area/kubernetes, cluster/main

move to pvc as bazarr has a config file
  kubernetes/cluster-0/apps/media/bazarr/app/externalsecret.yaml
  kubernetes/cluster-0/apps/media/bazarr/app/kustomization.yaml
  kubernetes/cluster-0/apps/media/bazarr/app/pvc.yaml
Labels: area/kubernetes, cluster/main

enable omegabrr
  kubernetes/cluster-0/apps/media/kustomization.yaml
  kubernetes/cluster-0/apps/media/omegabrr/app/externalsecret.yaml
  kubernetes/cluster-0/apps/media/omegabrr/app/helmrelease.yaml
  kubernetes/cluster-0/apps/media/omegabrr/app/kustomization.yaml
  kubernetes/cluster-0/apps/media/omegabrr/ks.yaml
Labels: area/kubernetes, cluster/main

update ingress controllers
  kubernetes/cluster-0/apps/media/autobrr/app/helmrelease.yaml
  kubernetes/cluster-0/apps/media/bazarr/app/helmrelease.yaml
  kubernetes/cluster-0/apps/media/recyclarr/ks.yaml
Labels: area/kubernetes, cluster/main

update fix readarr
  kubernetes/cluster-0/apps/media/readarr/audio/gatus.yaml
  kubernetes/cluster-0/apps/media/readarr/audio/helmrelease.yaml
  kubernetes/cluster-0/apps/media/readarr/audio/kustomization.yaml
  kubernetes/cluster-0/apps/media/readarr/audio/pvc.yaml
  kubernetes/cluster-0/apps/media/readarr/audio/resources/pushover-notify.sh
  kubernetes/cluster-0/apps/media/readarr/audio/volsync.yaml
Labels: area/kubernetes, cluster/main

deprecate all the terraform stuff
  infrastructure/_shared/address_book.yaml
  infrastructure/_shared/domains.sops.yaml
  infrastructure/_shared/networks.yaml
  infrastructure/interfaces.bak
  infrastructure/service-http-api.tf
  infrastructure/vyos/.terraform.lock.hcl
  infrastructure/vyos/files/coredns/Corefile.tftpl
  infrastructure/vyos/files/coredns/hosts.tftpl
  infrastructure/vyos/files/haproxy/haproxy.cfg.tftpl
  infrastructure/vyos/files/vector-agent/vector.yaml.tftpl
  infrastructure/vyos/firewall_rules.yaml
  infrastructure/vyos/id_tf
  infrastructure/vyos/locals.tf
  infrastructure/vyos/main.tf
  infrastructure/vyos/modules/config/container-networks.tf
  infrastructure/vyos/modules/config/containers-adguard-home.tf
  infrastructure/vyos/modules/config/containers-coredns.tf
  infrastructure/vyos/modules/config/containers-haproxy.tf
  infrastructure/vyos/modules/config/containers-udp-broadcast-relay.tf
  infrastructure/vyos/modules/config/containers-vector.tf
  infrastructure/vyos/modules/config/firewall.tf
  infrastructure/vyos/modules/config/main.tf
  infrastructure/vyos/modules/config/nat.tf
  infrastructure/vyos/modules/config/protocols-bgp.tf
  infrastructure/vyos/modules/config/scripts.tf
  infrastructure/vyos/modules/config/service-dhcp-server.tf
  infrastructure/vyos/modules/config/service-dns-dynamic.tf
  infrastructure/vyos/modules/config/service-http-api.tf
  infrastructure/vyos/modules/config/service-ssh.tf
  infrastructure/vyos/modules/config/system.tf
  infrastructure/vyos/modules/config/variables.tf
  infrastructure/vyos/providers.tf
  infrastructure/vyos/scripts/commit/pre-hooks.d/add-container-images
  infrastructure/vyos/secret.sops.yaml
  infrastructure/vyos/settings.yaml
Labels: none

reorganize
  kubernetes/nas-1/provision/storage/servers/.envrc
  kubernetes/nas-1/provision/storage/servers/ansible.cfg
  kubernetes/nas-1/provision/storage/servers/inventory/group_vars/all/os.yml
  kubernetes/nas-1/provision/storage/servers/inventory/group_vars/master/k3s.yml
  kubernetes/nas-1/provision/storage/servers/inventory/host_vars/nas-1.sops.yml
  kubernetes/nas-1/provision/storage/servers/inventory/hosts.yml
  kubernetes/nas-1/provision/storage/servers/playbooks/cluster-installation.yml
  kubernetes/nas-1/provision/storage/servers/playbooks/cluster-nuke.yml
  kubernetes/nas-1/provision/storage/servers/playbooks/cluster-prepare.yml
  kubernetes/nas-1/provision/storage/servers/playbooks/templates/aliases.j2
  kubernetes/nas-1/provision/storage/servers/playbooks/templates/msmtprc.j2
  kubernetes/nas-1/provision/storage/servers/playbooks/templates/smartd.conf.j2
  kubernetes/nas-1/provision/storage/servers/playbooks/templates/zed.rc.j2
  kubernetes/nas-1/provision/storage/servers/requirements.yml
Labels: area/kubernetes, cluster/nas-1

fix ks for readarr
  kubernetes/cluster-0/apps/media/readarr/ks.yaml
Labels: area/kubernetes, cluster/main

maindb value is different
  kubernetes/cluster-0/apps/media/readarr/audio/externalsecret.yaml
Labels: area/kubernetes, cluster/main

enable qbtools
  .sops.yaml
  kubernetes/cluster-0/apps/media/qbittorrent/ks.yaml
  kubernetes/cluster-0/apps/media/qbittorrent/tools/helmrelease.yaml
  kubernetes/cluster-0/apps/media/qbittorrent/tools/qbtools-config.sops.yaml
  kubernetes/cluster-0/apps/media/qbittorrent/tools/qbtools/config/config.yaml
Labels: area/kubernetes, cluster/main

add post process script
  kubernetes/cluster-0/apps/media/sabnzbd/app/resources/post-process.sh
Labels: area/kubernetes, cluster/main

give a global mount config
  kubernetes/cluster-0/apps/media/sabnzbd/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

bump readarr version
  kubernetes/cluster-0/apps/media/readarr/audio/helmrelease.yaml
Labels: area/kubernetes, cluster/main

use a later radarr build
  kubernetes/cluster-0/apps/media/readarr/audio/helmrelease.yaml
Labels: area/kubernetes, cluster/main

roll back to old version
  kubernetes/cluster-0/apps/media/readarr/audio/externalsecret.yaml
  kubernetes/cluster-0/apps/media/readarr/audio/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix prometheus-operator
  kubernetes/cluster-0/apps/monitoring/prometheus-operator/crd/kustomization.yaml
  kubernetes/cluster-0/apps/monitoring/prometheus-operator/crds/helmrelease.yaml
  kubernetes/cluster-0/apps/monitoring/prometheus-operator/crds/kustomization.yaml
Labels: area/kubernetes, cluster/main

update recyclarr config path
  kubernetes/cluster-0/apps/media/recyclarr/app/resources/recyclarr.yml
Labels: area/kubernetes, cluster/main

move to emqx for teslamate
  kubernetes/cluster-0/apps/selfhosted/teslamate/app/externalsecret.yaml
  kubernetes/cluster-0/apps/selfhosted/teslamate/app/helmrelease.yaml
  kubernetes/cluster-0/apps/selfhosted/teslamate/ks.yaml
Labels: area/kubernetes, cluster/main

fix bazarr paths
  kubernetes/cluster-0/apps/media/bazarr/app/kustomization.yaml
Labels: area/kubernetes, cluster/main

fix filename
  kubernetes/cluster-0/apps/selfhosted/miniflux/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

change name for emqx to emqx-cluster
  kubernetes/cluster-0/apps/selfhosted/teslamate/ks.yaml
Labels: area/kubernetes, cluster/main

update url for actions-runner-contorller
  kubernetes/cluster-0/flux/repositories/helm/actions-runner-controller.yaml
Labels: area/kubernetes, cluster/main

update flux
  kubernetes/cluster-0/flux/config/flux.yaml
Labels: area/kubernetes, cluster/main

update secret
  kubernetes/cluster-0/apps/dev/actions-runner-controller/operator/externalsecret.yaml
Labels: area/kubernetes, cluster/main

update runner
  kubernetes/cluster-0/apps/dev/actions-runner-controller/runners/carpenike.yaml
  kubernetes/cluster-0/apps/dev/actions-runner-controller/runners/helmrelease.yaml
  kubernetes/cluster-0/apps/dev/actions-runner-controller/runners/kustomization.yaml
Labels: area/kubernetes, cluster/main

update runner name
  .github/workflows/flux-ks-sync.yaml
Labels: area/ci

give full gh config url
  kubernetes/cluster-0/apps/dev/actions-runner-controller/runners/carpenike.yaml
Labels: area/kubernetes, cluster/main

.github/labeler.yaml:

---
# Area
area/ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
# Cluster
cluster/main:
  - changed-files:
      - any-glob-to-any-file: kubernetes/cluster-0/**/*
cluster/nas-1:
  - changed-files:
      - any-glob-to-any-file: kubernetes/nas-1/**/*
