Repository carpenike/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/kubernetes, cluster/main, cluster/nas-1

.github/labeler.yaml:

---
# Area
area/ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
# Cluster
cluster/main:
  - changed-files:
      - any-glob-to-any-file: kubernetes/cluster-0/**/*
cluster/nas-1:
  - changed-files:
      - any-glob-to-any-file: kubernetes/nas-1/**/*

define the deletionPolicy
  kubernetes/cluster-0/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes, cluster/main

cleanup broken links, remove old data
  README.md
  docs/README.md
  docs/deployment.md
  docs/infrastructure.md
Labels: none

deprecate csi-addons
  _archive/cluster-0/csi-addons-system/csi-addons-controller-manager/ks.yaml
  _archive/cluster-0/csi-addons-system/kustomization.yaml
  _archive/cluster-0/csi-addons-system/namespace.yaml
Labels: none

cleanup rook-ceph, remove dependency on csi
  kubernetes/cluster-0/apps/rook-ceph/rook-ceph/add-ons/dashboard/ceph-cluster-dashboard.json
  kubernetes/cluster-0/apps/rook-ceph/rook-ceph/add-ons/dashboard/ceph-osd-dashboard.json
  kubernetes/cluster-0/apps/rook-ceph/rook-ceph/add-ons/dashboard/ceph-pools-dashboard.json
  kubernetes/cluster-0/apps/rook-ceph/rook-ceph/add-ons/dashboard/cephfs-overview-dashboard.json
  kubernetes/cluster-0/apps/rook-ceph/rook-ceph/add-ons/dashboard/host-details-dashboard.json
  kubernetes/cluster-0/apps/rook-ceph/rook-ceph/add-ons/dashboard/hosts-overview-dashboard.json
  kubernetes/cluster-0/apps/rook-ceph/rook-ceph/add-ons/dashboard/kustomization.yaml
  kubernetes/cluster-0/apps/rook-ceph/rook-ceph/add-ons/dashboard/osd-device-details-dashboard.json
  kubernetes/cluster-0/apps/rook-ceph/rook-ceph/add-ons/dashboard/osds-overview-dahboard.json
  kubernetes/cluster-0/apps/rook-ceph/rook-ceph/add-ons/dashboard/pool-detail-dashboard.json
  kubernetes/cluster-0/apps/rook-ceph/rook-ceph/add-ons/dashboard/pool-overview-dashboard.json
  kubernetes/cluster-0/apps/rook-ceph/rook-ceph/add-ons/dashboard/radosgw-detail-dashboard.json
  kubernetes/cluster-0/apps/rook-ceph/rook-ceph/add-ons/dashboard/radosgw-overview-dashboard.json
  kubernetes/cluster-0/apps/rook-ceph/rook-ceph/add-ons/dashboard/radosgw-sync-overview-dashboard.json
  kubernetes/cluster-0/apps/rook-ceph/rook-ceph/add-ons/dashboard/rbd-details-dashboard.json
  kubernetes/cluster-0/apps/rook-ceph/rook-ceph/add-ons/dashboard/rbd-overview-dashboard.json
  kubernetes/cluster-0/apps/rook-ceph/rook-ceph/add-ons/kustomization.yaml
  kubernetes/cluster-0/apps/rook-ceph/rook-ceph/ks.yaml
Labels: area/kubernetes, cluster/main

defined variable wrong
  kubernetes/cluster-0/apps/rook-ceph/rook-ceph/ks.yaml
Labels: area/kubernetes, cluster/main

deprecate authelia
  _archive/cluster-0/security/authelia/app/config/configuration.yaml
  _archive/cluster-0/security/authelia/app/externalsecret.yaml
  _archive/cluster-0/security/authelia/app/helmrelease.yaml
  _archive/cluster-0/security/authelia/app/kustomization.yaml
  _archive/cluster-0/security/authelia/app/pvc.yaml
  _archive/cluster-0/security/authelia/app/volsync.yaml
  _archive/cluster-0/security/authelia/ks.yaml
Labels: none

add talos to groups
  .github/renovate/groups.json5
Labels: area/ci

add versioning for scrypted
  .github/renovate/versioning.json5
Labels: area/ci

remove labels, inherited from other repo.
  .github/labels.yaml
Labels: area/ci

remove allowedVersions from renovate config
  .github/renovate.json5
Labels: area/ci

remove configmap generator for grafana dashboard
  kubernetes/cluster-0/apps/db/cloudnative-pg/app/kustomization.yaml
Labels: area/kubernetes, cluster/main

deploy scrypted
  kubernetes/cluster-0/apps/home/scrypted/app/helmrelease.yaml
  kubernetes/cluster-0/apps/home/scrypted/app/kustomization.yaml
  kubernetes/cluster-0/apps/home/scrypted/app/networkpolicy.yaml
  kubernetes/cluster-0/apps/home/scrypted/ks.yaml
Labels: area/kubernetes, cluster/main

enable it too
  kubernetes/cluster-0/apps/home/kustomization.yaml
Labels: area/kubernetes, cluster/main

change multus names
  kubernetes/cluster-0/apps/network/multus/ks.yaml
Labels: area/kubernetes, cluster/main

cleanup
  kubernetes/cluster-0/apps/media/arr-migration/app/helmrelease.yaml
  kubernetes/cluster-0/apps/media/arr-migration/app/kustomization.yaml
  kubernetes/cluster-0/apps/media/arr-migration/ks.yaml
  kubernetes/cluster-0/apps/media/audiobookshelf/app/helmrelease.yaml
  kubernetes/cluster-0/apps/media/audiobookshelf/app/kustomization.yaml
  kubernetes/cluster-0/apps/media/audiobookshelf/app/volsync.yaml
  kubernetes/cluster-0/apps/media/audiobookshelf/ks.yaml
Labels: area/kubernetes, cluster/main

rename multus in dependsOn
  kubernetes/cluster-0/apps/home/home-assistant/ks.yaml
Labels: area/kubernetes, cluster/main

cleanup immich
  kubernetes/cluster-0/apps/media/immich/app/configmap.yaml
  kubernetes/cluster-0/apps/media/immich/app/externalsecret.yaml
  kubernetes/cluster-0/apps/media/immich/app/gatus.yaml
  kubernetes/cluster-0/apps/media/immich/app/kustomization.yaml
  kubernetes/cluster-0/apps/media/immich/app/machine-learning/helmrelease.yaml
  kubernetes/cluster-0/apps/media/immich/app/machine-learning/kustomization.yaml
  kubernetes/cluster-0/apps/media/immich/app/microservices/helmrelease.yaml
  kubernetes/cluster-0/apps/media/immich/app/microservices/kustomization.yaml
  kubernetes/cluster-0/apps/media/immich/app/nfs-pvc.yaml
  kubernetes/cluster-0/apps/media/immich/app/server/helmrelease.yaml
  kubernetes/cluster-0/apps/media/immich/app/server/kustomization.yaml
  kubernetes/cluster-0/apps/media/immich/app/typesense/helmrelease.yaml
  kubernetes/cluster-0/apps/media/immich/app/typesense/kustomization.yaml
  kubernetes/cluster-0/apps/media/immich/app/web/helmrelease.yaml
  kubernetes/cluster-0/apps/media/immich/app/web/kustomization.yaml
  kubernetes/cluster-0/apps/media/immich/ks.yaml
  kubernetes/cluster-0/apps/media/immich/redis/helmrelease.yaml
  kubernetes/cluster-0/apps/media/immich/redis/kustomization.yaml
  kubernetes/cluster-0/apps/media/kustomization.yaml
Labels: area/kubernetes, cluster/main

change depends on name
  kubernetes/cluster-0/apps/home/scrypted/ks.yaml
Labels: area/kubernetes, cluster/main

cleanup
  kubernetes/cluster-0/apps/network/kubernetes-schemas/app/gatus.yaml
  kubernetes/cluster-0/apps/network/kubernetes-schemas/app/helmrelease.yaml
  kubernetes/cluster-0/apps/network/kubernetes-schemas/app/kustomization.yaml
  kubernetes/cluster-0/apps/network/kubernetes-schemas/ks.yaml
Labels: area/kubernetes, cluster/main

change dependecy name for external-secrets
  kubernetes/cluster-0/apps/home/scrypted/ks.yaml
Labels: area/kubernetes, cluster/main

re-arrange qbtools settings
  kubernetes/cluster-0/apps/media/qbittorrent/tools/kustomization.yaml
  kubernetes/cluster-0/apps/media/qbittorrent/tools/manage/helmrelease.yaml
  kubernetes/cluster-0/apps/media/qbittorrent/tools/manage/patches/kustomizeconfig.yaml
  kubernetes/cluster-0/apps/media/qbittorrent/tools/orphaned/helmrelease.yaml
  kubernetes/cluster-0/apps/media/qbittorrent/tools/orphaned/kustomization.yaml
  kubernetes/cluster-0/apps/media/qbittorrent/tools/qbtools/config/config.yaml
  kubernetes/cluster-0/apps/media/qbittorrent/tools/qbtools/helmrelease.yaml
  kubernetes/cluster-0/apps/media/qbittorrent/tools/qbtools/kustomization.yaml
  kubernetes/cluster-0/apps/media/qbittorrent/tools/reannounce/helmrelease.yaml
  kubernetes/cluster-0/apps/media/qbittorrent/tools/reannounce/kustomization.yaml
Labels: area/kubernetes, cluster/main

forgot a few settings
  kubernetes/cluster-0/apps/home/scrypted/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

cleanup omegabr
  kubernetes/cluster-0/apps/media/omegabrr/app/configs/config.yaml
  kubernetes/cluster-0/apps/media/omegabrr/app/externalsecret.yaml
  kubernetes/cluster-0/apps/media/omegabrr/app/helmrelease.yaml
  kubernetes/cluster-0/apps/media/omegabrr/app/kustomization.yaml
  kubernetes/cluster-0/apps/media/omegabrr/ks.yaml
Labels: area/kubernetes, cluster/main

change cluster names
  .github/workflows/flux-ks-sync.yaml
Labels: area/ci

cleanup znc
  kubernetes/cluster-0/apps/selfhosted/znc/app/certificate.yaml
  kubernetes/cluster-0/apps/selfhosted/znc/app/helmrelease.yaml
  kubernetes/cluster-0/apps/selfhosted/znc/app/kustomization.yaml
  kubernetes/cluster-0/apps/selfhosted/znc/app/volsync.yaml
  kubernetes/cluster-0/apps/selfhosted/znc/ks.yaml
Labels: area/kubernetes, cluster/main

drop omada from k8s
  kubernetes/cluster-0/apps/network/kustomization.yaml
Labels: area/kubernetes, cluster/main

update snmp-exporter to work with new config requirements
  kubernetes/cluster-0/apps/monitoring/snmp-exporter/apc-ups/dashboard/kustomization.yaml
  kubernetes/cluster-0/apps/monitoring/snmp-exporter/apc-ups/helmrelease.yaml
  kubernetes/cluster-0/apps/monitoring/snmp-exporter/apc-ups/kustomization.yaml
  kubernetes/cluster-0/apps/monitoring/snmp-exporter/apc-ups/prometheusrule.yaml
  kubernetes/cluster-0/apps/monitoring/snmp-exporter/apc-ups/resources/dashboard.json
  kubernetes/cluster-0/apps/monitoring/snmp-exporter/apc-ups/resources/snmp.yaml
Labels: area/kubernetes, cluster/main

add namespace
  kubernetes/cluster-0/apps/monitoring/snmp-exporter/apc-ups/kustomization.yaml
Labels: area/kubernetes, cluster/main

rollback to resolve rook-ceph
  kubernetes/cluster-0/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
  kubernetes/cluster-0/apps/rook-ceph/rook-ceph/operator/helmrelease.yaml
Labels: area/kubernetes, cluster/main

try upgrade again
  kubernetes/cluster-0/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
  kubernetes/cluster-0/apps/rook-ceph/rook-ceph/operator/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix nesting problem.
  kubernetes/cluster-0/apps/media/qbittorrent/tools/qbtools/config/config.yaml
  kubernetes/cluster-0/apps/media/qbittorrent/tools/qbtools/helmrelease.yaml
  kubernetes/cluster-0/apps/media/qbittorrent/tools/qbtools/kustomization.yaml
Labels: area/kubernetes, cluster/main

fix alertmanager to support new helm chart version
  kubernetes/cluster-0/apps/monitoring/alertmanager/app/config/alertmanager.yml
  kubernetes/cluster-0/apps/monitoring/alertmanager/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix gatus to work with new helm template requirements
  kubernetes/cluster-0/apps/monitoring/gatus/app/helmrelease.yaml
  kubernetes/cluster-0/apps/monitoring/gatus/app/kustomization.yaml
  kubernetes/cluster-0/apps/monitoring/gatus/app/rbac.yaml
  kubernetes/cluster-0/apps/monitoring/gatus/ks.yaml
Labels: area/kubernetes, cluster/main

update folder name
  kubernetes/cluster-0/apps/monitoring/gatus/app/resources/config.yaml
Labels: area/kubernetes, cluster/main

update vector config to support new helm version
  kubernetes/cluster-0/apps/monitoring/vector/agent/config/vector.yaml
  kubernetes/cluster-0/apps/monitoring/vector/agent/helmrelease.yaml
  kubernetes/cluster-0/apps/monitoring/vector/aggregator/config/vector.yaml
  kubernetes/cluster-0/apps/monitoring/vector/aggregator/helmrelease.yaml
Labels: area/kubernetes, cluster/main

update / fix
  kubernetes/cluster-0/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

secret name wrong
  kubernetes/cluster-0/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

use temp location for 1password store while re-working firewall
  kubernetes/cluster-0/apps/security/external-secrets/stores/onepassword/clustersecretstore.yaml
  kubernetes/nas-1/apps/kube-system/external-secrets/stores/clustersecretstore.yaml
Labels: area/kubernetes, cluster/main, cluster/nas-1

see if this works through dnsdist
  kubernetes/cluster-0/apps/network/external-dns/internal/helmrelease.yaml
Labels: area/kubernetes, cluster/main

point at temporary bind server
  kubernetes/nas-1/apps/network/external-dns/internal/helmrelease.yaml
Labels: area/kubernetes, cluster/nas-1
