Repository carpenike/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/hack, area/infrastructure

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.3.3.3208
  cluster/clusters/cluster-0/media/prowlarr/helm-release.yaml
Labels: area/cluster

feat(github-release): update pre-commit hook adrienverge/yamllint to v1.31.0
  .pre-commit-config.yaml
Labels: none

feat(container): update image ghcr.io/tarampampam/error-pages to v2.24.0
  cluster/clusters/cluster-0/network/ingress-nginx/helm-release.yaml
Labels: area/cluster

deprecate unused tools
  cluster/base/repositories/git/kustomization.yaml
  cluster/base/repositories/git/mastodon.yaml
  cluster/base/repositories/git/nfd.yaml
Labels: area/cluster

feat(container): update image ghcr.io/coder/code-server to v4.12.0
  cluster/clusters/cluster-0/home/home-assistant/code-server/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.3.3.3212
  cluster/clusters/cluster-0/media/prowlarr/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.3.3.3216
  cluster/clusters/cluster-0/media/prowlarr/helm-release.yaml
Labels: area/cluster

fix(container): update image mbentley/omada-controller to 120c030
  cluster/clusters/cluster-0/network/omada/controller/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.3.3.3217
  cluster/clusters/cluster-0/media/prowlarr/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.3.3.3219
  cluster/clusters/cluster-0/media/prowlarr/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.3.3.3220
  cluster/clusters/cluster-0/media/prowlarr/helm-release.yaml
Labels: area/cluster

feat(container): update image ghcr.io/immich-app/immich-machine-learning to v1.54.1
  cluster/clusters/cluster-0/media/immich/app/machine-learning/helm-release.yaml
Labels: area/cluster

feat(container): update image ghcr.io/immich-app/immich-web to v1.54.1
  cluster/clusters/cluster-0/media/immich/app/web/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.3.3.3221
  cluster/clusters/cluster-0/media/prowlarr/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.3.3.3224
  cluster/clusters/cluster-0/media/prowlarr/helm-release.yaml
Labels: area/cluster

feat(helm): update chart grafana to 6.55.0
  cluster/clusters/cluster-0/monitoring/grafana/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.3.3.3227
  cluster/clusters/cluster-0/media/prowlarr/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/shlinkio/shlink-web-client to v3.10.1
  cluster/clusters/cluster-0/selfhosted/shlink/web/helm-release.yaml
Labels: area/cluster

fix(container): update image mbentley/omada-controller to 7d75ac0
  cluster/clusters/cluster-0/network/omada/controller/helm-release.yaml
Labels: area/cluster

fix(container): update image mbentley/omada-controller to 91de3bf
  cluster/clusters/cluster-0/network/omada/controller/helm-release.yaml
Labels: area/cluster

fix(container): update image mbentley/omada-controller to 03cb964
  cluster/clusters/cluster-0/network/omada/controller/helm-release.yaml
Labels: area/cluster

feat(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.4.0.3230
  cluster/clusters/cluster-0/media/prowlarr/helm-release.yaml
Labels: area/cluster

fix(container): update image mbentley/omada-controller to 62d0d23
  cluster/clusters/cluster-0/network/omada/controller/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.4.1.3231
  cluster/clusters/cluster-0/media/prowlarr/helm-release.yaml
Labels: area/cluster

fix(container): update image mbentley/omada-controller to 6bd3bc9
  cluster/clusters/cluster-0/network/omada/controller/helm-release.yaml
Labels: area/cluster

fix(container): update image mbentley/omada-controller to 03cb964
  cluster/clusters/cluster-0/network/omada/controller/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.4.1.3232
  cluster/clusters/cluster-0/media/prowlarr/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.4.1.3235
  cluster/clusters/cluster-0/media/prowlarr/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.4.1.3236
  cluster/clusters/cluster-0/media/prowlarr/helm-release.yaml
Labels: area/cluster

rollback cilium to 1.13.1
  cluster/clusters/cluster-0/kube-system/cilium/helm-release.yaml
  infrastructure/talos/cluster-0/cni/kustomization.yaml
Labels: area/cluster, area/infrastructure

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.4.1.3238
  cluster/clusters/cluster-0/media/prowlarr/helm-release.yaml
Labels: area/cluster

feat(container): update image ghcr.io/paperless-ngx/paperless-ngx to v1.14.0
  cluster/clusters/cluster-0/selfhosted/paperless/app/helm-release.yaml
Labels: area/cluster

add cluster taskfiles
  .taskfiles/externalsecrets/tasks.yaml
  .taskfiles/flux/tasks.yaml
  .taskfiles/k8s/tasks.yaml
  .taskfiles/volsync/ListJob.tmpl.yaml
  .taskfiles/volsync/ReplicationDestination.tmpl.yaml
  .taskfiles/volsync/UnlockJob.tmpl.yaml
  .taskfiles/volsync/WipeJob.tmpl.yaml
  .taskfiles/volsync/tasks.yaml
  .taskfiles/volsync/wait-for-job.sh
  Taskfile.yml
Labels: none

feat(helm): update chart redis to 17.10.1
  cluster/clusters/cluster-0/db/redis/helm-release.yaml
Labels: area/cluster

feat(terraform): update terraform http to 3.3.0
  infrastructure/vyos/.terraform.lock.hcl
  infrastructure/vyos/main.tf
Labels: area/infrastructure

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.4.1.3243
  cluster/clusters/cluster-0/media/prowlarr/helm-release.yaml
Labels: area/cluster

update multus ot use angelnu
  cluster/clusters/cluster-0/network/multus/helm-release.yaml
Labels: area/cluster

re-enable redis
  cluster/clusters/cluster-0/flux-system/definitions/db.yaml
Labels: area/cluster

fix(helm): update chart cloudnative-pg to 0.17.2
  cluster/clusters/cluster-0/db/cloudnative-pg/app/helm-release.yaml
  cluster/clusters/cluster-0/db/cloudnative-pg/operator/helm-release.yaml
Labels: area/cluster

fix(container): update image docker.io/library/couchdb to v3.3.2
  cluster/clusters/cluster-0/selfhosted/obsidian-couchdb/helm-release.yaml
Labels: area/cluster

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "cluster/**/*"
area/hack:
  - "hack/**/*"
area/infrastructure:
  - "infrastructure/**/*"
