Repository carpenike/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/kubernetes, cluster/main, cluster/nas-1

.github/labeler.yaml:

---
# Area
area/ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
# Cluster
cluster/main:
  - changed-files:
      - any-glob-to-any-file: kubernetes/cluster-0/**/*
cluster/nas-1:
  - changed-files:
      - any-glob-to-any-file: kubernetes/nas-1/**/*

fix: update apiVersion and restructure HelmRelease for improved clarity and convention
  kubernetes/cluster-0/apps/home/scrypted/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix: update image tag in helmrelease.yaml to v0.140.0-noble-full for version consistency
  kubernetes/cluster-0/apps/home/scrypted/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix: update apiVersion and chart version in helmrelease.yaml; remove rbac.yaml
  kubernetes/cluster-0/apps/network/multus/app/helmrelease.yaml
  kubernetes/cluster-0/apps/network/multus/app/kustomization.yaml
  kubernetes/cluster-0/apps/network/multus/app/rbac.yaml
Labels: area/kubernetes, cluster/main

fix: modernize multus deployment to use OCIRepository
  .github/workflows/lint.yaml
Labels: area/ci

feat: add CLAUDE.md for project guidance and architecture overview
  CLAUDE.md
Labels: none

fix: update YAML schema instructions for Kustomize Component files and FluxCD resources
  .github/instructions/yaml-schemas.instructions.md
Labels: area/ci

fix: revert multus HelmRelease API version to v2beta2 for OCIRepository support
  kubernetes/cluster-0/apps/network/multus/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix: update HelmRelease apiVersion to v2 for compatibility
  kubernetes/cluster-0/apps/network/multus/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix: revert multus HelmRelease to v2beta2 for OCIRepository support
  kubernetes/cluster-0/apps/network/multus/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix: update multus HelmRelease to use chartRef for OCIRepository
  kubernetes/cluster-0/apps/network/multus/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix: add serviceAccount configuration for multus HelmRelease
  kubernetes/cluster-0/apps/network/multus/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix: update qbittorrent HelmRelease configuration for improved stability
  kubernetes/cluster-0/apps/media/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix: add pvc.yaml resource to qbittorrent Kustomization
  kubernetes/cluster-0/apps/media/qbittorrent/app/kustomization.yaml
Labels: area/kubernetes, cluster/main

fix: remove restoreOpts from ReplicationDestination configuration
  kubernetes/cluster-0/components/volsync/minio/replicationdestination.yaml
Labels: area/kubernetes, cluster/main

fix(cilium): change load balancer mode from dsr to snat
  kubernetes/cluster-0/apps/kube-system/cilium/app/values.yaml
Labels: area/kubernetes, cluster/main
