Repository carpenike/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/hack, area/infrastructure

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "cluster/**/*"
area/hack:
  - "hack/**/*"
area/infrastructure:
  - "infrastructure/**/*"

fix(container): update image ghcr.io/onedr0p/home-assistant to v2022.10.5
  cluster/clusters/cluster-0/home/home-assistant/app/helm-release.yaml
Labels: area/cluster

feat(container): update image docker.io/n8nio/n8n to v0.199.0
  cluster/clusters/cluster-0/selfhosted/n8n/helm-release.yaml
Labels: area/cluster

fix(terraform): update terraform remote to 0.1.1
  infrastructure/vyos/.terraform.lock.hcl
  infrastructure/vyos/config/main.tf
  infrastructure/vyos/main.tf
Labels: area/infrastructure

fix(helm): update chart loki to 3.2.2
  cluster/clusters/cluster-0/monitoring/loki/helm-release.yaml
Labels: area/cluster

fix(helm): update chart redis to 17.3.7
  cluster/clusters/cluster-0/db/redis/helm-release.yaml
Labels: area/cluster

fix(helm): update chart k10 to 5.0.11
  cluster/clusters/cluster-0/kasten-io/k10/helm-release.yaml
Labels: area/cluster

Test GPG write
  cluster/clusters/cluster-0/README.md
Labels: area/cluster

feat(container): update image ghcr.io/authelia/authelia to v4.37.0
  cluster/clusters/cluster-0/security/authelia/app/helm-release.yaml
Labels: area/cluster

test removal / test sign
  cluster/clusters/cluster-0/README.md
Labels: area/cluster

fix(container): update image ghcr.io/authelia/authelia to v4.37.1
  cluster/clusters/cluster-0/security/authelia/app/helm-release.yaml
Labels: area/cluster

feat(container): update image mbentley/omada-controller to v5.6
  cluster/clusters/cluster-0/network/omada/controller/helm-release.yaml
Labels: area/cluster

feat(helm): update chart grafana to 6.43.0
  cluster/clusters/cluster-0/monitoring/grafana/helm-release.yaml
Labels: area/cluster

deploy app-vscode
  cluster/clusters/cluster-0/home/home-assistant/code-server/kustomization.yaml
Labels: area/cluster

fix(helm): update chart kyverno to 2.6.1
  cluster/clusters/cluster-0/system/kyverno/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/zwave-js/zwave-js-ui to v8.2.2
  cluster/clusters/cluster-0/home/zwavejs2mqtt/helm-release.yaml
Labels: area/cluster

feat(helm): update chart kube-prometheus-stack to 41.6.1
  cluster/base/repositories/git/kube-prometheus-stack.yaml
  cluster/clusters/cluster-0/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/home-assistant to v2022.10.5
  cluster/clusters/cluster-0/home/home-assistant/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/kubernetes-kubectl to v1.25.3
  cluster/clusters/cluster-0/network/cloudflare-ddns/cron-job.yaml
Labels: area/cluster

fix(container): update image ghcr.io/sct/overseerr to v1.30.1
  cluster/clusters/cluster-0/media/overseerr/helm-release.yaml
Labels: area/cluster

fix(helm): update chart gitea to 6.0.3
  cluster/clusters/cluster-0/selfhosted/gitea/helm-release.yaml
Labels: area/cluster

fix(helm): update chart loki to 3.2.2
  cluster/clusters/cluster-0/monitoring/loki/helm-release.yaml
Labels: area/cluster

feat(container): update image docker.io/n8nio/n8n to v0.199.0
  cluster/clusters/cluster-0/selfhosted/n8n/helm-release.yaml
Labels: area/cluster

feat(helm): update chart loki to 3.3.0
  cluster/clusters/cluster-0/monitoring/loki/helm-release.yaml
Labels: area/cluster

feat(container): update image ghcr.io/coder/code-server to v4.8.0
  cluster/clusters/cluster-0/home/home-assistant/code-server/helm-release.yaml
Labels: area/cluster

fix(github-action): update renovatebot/github-action action to v33.2.4
  .github/workflows/schedule-renovate.yaml
Labels: area/github

fix(container): update image rancher/k3s to v1.25.3
  cluster/clusters/cluster-0/staging-tenant/vcluster/helm-release.yaml
Labels: area/cluster

fix(container): update image busybox to ed140b6
  cluster/clusters/cluster-0/selfhosted/obsidian-couchdb/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/plex to b9a570c
  cluster/clusters/cluster-0/media/plex/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/esphome/esphome to v2022.10.1
  cluster/clusters/cluster-0/home/esphome/helm-release.yaml
Labels: area/cluster

feat(github-action)!: Update renovatebot/github-action action to v34.1.2
  .github/workflows/schedule-renovate.yaml
Labels: area/github

fix(container): update image busybox to 3f7c4d1
  cluster/clusters/cluster-0/selfhosted/obsidian-couchdb/helm-release.yaml
Labels: area/cluster

fix(container): update image busybox to bfb25fd
  cluster/clusters/cluster-0/selfhosted/obsidian-couchdb/helm-release.yaml
Labels: area/cluster

fix(helm): update chart grafana to 6.43.1
  cluster/clusters/cluster-0/monitoring/grafana/helm-release.yaml
Labels: area/cluster

fix(container): update image busybox to 3771070
  cluster/clusters/cluster-0/selfhosted/obsidian-couchdb/helm-release.yaml
Labels: area/cluster

fix(container): update image busybox to 6bdd92b
  cluster/clusters/cluster-0/selfhosted/obsidian-couchdb/helm-release.yaml
Labels: area/cluster

deploy calibre-web
  cluster/clusters/cluster-0/flux-system/definitions/media.yaml
  cluster/clusters/cluster-0/media/calibre-web/config-pvc.yaml
  cluster/clusters/cluster-0/media/calibre-web/helm-release.yaml
  cluster/clusters/cluster-0/media/calibre-web/kustomization.yaml
Labels: area/cluster

fix(container): update image vectorim/element-web to v1.11.12
  cluster/clusters/cluster-0/matrix/element/helm-release.yaml
Labels: area/cluster

feat(github-action)!: Update renovatebot/github-action action to v34.2.0
  .github/workflows/schedule-renovate.yaml
Labels: area/github

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.142
  cluster/clusters/cluster-0/media/sonarr/helm-release.yaml
Labels: area/cluster

feat(container): update image registry.gitlab.com/signald/signald to v0.23.0
  cluster/clusters/cluster-0/matrix/signald/helm-release.yaml
Labels: area/cluster
