Repository carpenike/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/hack, area/infrastructure

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.1.1.2326
  cluster/clusters/cluster-0/media/prowlarr/helm-release.yaml
Labels: area/cluster

fix(helm): update chart snapshot-controller to 1.7.2
  cluster/clusters/cluster-0/kube-system/snapshot-controller/app/snapshot-controller/helm-release.yaml
Labels: area/cluster

fix(github-release): update nfd-crds to v0.12.1
  cluster/base/repositories/git/nfd.yaml
Labels: area/cluster

fix(container): update image ghcr.io/bjw-s/calibre-web to 4be8a84
  cluster/clusters/cluster-0/media/calibre-web/helm-release.yaml
Labels: area/cluster

fix(container): update image docker.io/library/redis to v7.0.8
  cluster/clusters/cluster-0/matrix/redis/helm-release.yaml
  cluster/clusters/cluster-0/security/authelia/redis/helm-release.yaml
  cluster/clusters/cluster-0/selfhosted/paperless/redis/helm-release.yaml
Labels: area/cluster

fix(helm): update chart reloader to v1.0.2
  cluster/clusters/cluster-0/kube-system/reloader/helm-release.yaml
Labels: area/cluster

fix(helm): update chart node-feature-discovery to 0.12.1
  cluster/clusters/cluster-0/system/node-feature-discovery/app/helm-release.yaml
Labels: area/cluster

fix(helm): update rook-ceph group to v1.10.10
  cluster/clusters/cluster-0/rook-ceph/add-ons/direct-mount/deployment.yaml
  cluster/clusters/cluster-0/rook-ceph/cluster/helm-release.yaml
  cluster/clusters/cluster-0/rook-ceph/operator/helm-release.yaml
  deprecated-k8s/clusters/cluster-0/manifests/rook-ceph/cluster/helm-release.yaml
Labels: area/cluster

feat(container): update image ghcr.io/onedr0p/kubernetes-kubectl to v1.26.1
  cluster/clusters/cluster-0/network/cloudflare-ddns/cron-job.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.1.1.2337
  cluster/clusters/cluster-0/media/prowlarr/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/bjw-s/calibre-web to bf7d692
  cluster/clusters/cluster-0/media/calibre-web/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/bjw-s/calibre-web to 320316d
  cluster/clusters/cluster-0/media/calibre-web/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/bjw-s/calibre-web to d5b945a
  cluster/clusters/cluster-0/media/calibre-web/helm-release.yaml
Labels: area/cluster

feat(helm): update chart dex to 0.13.0
  cluster/clusters/cluster-0/security/dex/helm-release.yaml
Labels: area/cluster

feat(helm)!: Update chart thanos to 12.0.0
  cluster/clusters/cluster-0/monitoring/thanos/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/bjw-s/calibre-web to 6a4a7a2
  cluster/clusters/cluster-0/media/calibre-web/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.1.1.2341
  cluster/clusters/cluster-0/media/prowlarr/helm-release.yaml
Labels: area/cluster

feat(container): update vector group
  cluster/clusters/cluster-0/matrix/element/helm-release.yaml
  cluster/clusters/cluster-0/monitoring/vector/agent/helm-release.yaml
  cluster/clusters/cluster-0/monitoring/vector/aggregator/helm-release.yaml
Labels: area/cluster

fix(container): update image registry.gitlab.com/signald/signald to v0.23.2
  cluster/clusters/cluster-0/matrix/signald/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.1.1.2363
  cluster/clusters/cluster-0/media/prowlarr/helm-release.yaml
Labels: area/cluster

feat(container): update image ghcr.io/onedr0p/radarr-develop to v4.4.0.6882
  cluster/clusters/cluster-0/media/radarr/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.1.1.2377
  cluster/clusters/cluster-0/media/prowlarr/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.1.2.2381
  cluster/clusters/cluster-0/media/prowlarr/helm-release.yaml
Labels: area/cluster

feat(container): update image docker.io/1password/connect-api to v1.6.0
  cluster/clusters/cluster-0/security/external-secrets/stores/onepassword/helm-release.yaml
Labels: area/cluster

feat(container): update image docker.io/1password/connect-sync to v1.6.0
  cluster/clusters/cluster-0/security/external-secrets/stores/onepassword/patches/sync.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/theme-park to f7ed199
  cluster/clusters/cluster-0/network/theme-park/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.1.2.2392
  cluster/clusters/cluster-0/media/prowlarr/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.1.2.2394
  cluster/clusters/cluster-0/media/prowlarr/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/plex to v1.30.2.6563-3d4dc0cce
  cluster/clusters/cluster-0/media/plex/helm-release.yaml
Labels: area/cluster

fix(container): update image quay.io/oriedge/k8s_gateway to v0.3.3
  cluster/clusters/cluster-0/network/k8s-gateway/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/bjw-s/calibre-web to 42283b2
  cluster/clusters/cluster-0/media/calibre-web/helm-release.yaml
Labels: area/cluster

fix(container): update image rancher/k3s to v1.26.1
  cluster/clusters/cluster-0/staging-tenant/vcluster/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.1.2.2425
  cluster/clusters/cluster-0/media/prowlarr/helm-release.yaml
Labels: area/cluster

feat(container): update image ghcr.io/tailscale/tailscale to v1.36.0
  cluster/clusters/cluster-0/vpn/tailscale-gateway/helm-release.yaml
Labels: area/cluster

feat(github-release): update pre-commit hook lucas-c/pre-commit-hooks to v1.4.2
  .pre-commit-config.yaml
Labels: none

fix(container): update image ghcr.io/esphome/esphome to v2022.12.8
  cluster/clusters/cluster-0/home/esphome/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/bjw-s/calibre-web to 23317ae
  cluster/clusters/cluster-0/media/calibre-web/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.1.2.2430
  cluster/clusters/cluster-0/media/prowlarr/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/bjw-s/calibre-web to b73d4d9
  cluster/clusters/cluster-0/media/calibre-web/helm-release.yaml
Labels: area/cluster

fix(helm): update chart cilium to 1.12.6
  cluster/clusters/cluster-0/kube-system/cilium/helm-release.yaml
  infrastructure/talos/cluster-0/cni/kustomization.yaml
Labels: area/cluster, area/infrastructure

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "cluster/**/*"
area/hack:
  - "hack/**/*"
area/infrastructure:
  - "infrastructure/**/*"
