Repository carpenike/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/hack, area/infrastructure

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.2.0.2578
  cluster/clusters/cluster-0/media/prowlarr/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.2.0.2583
  cluster/clusters/cluster-0/media/prowlarr/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.2.1.2588
  cluster/clusters/cluster-0/media/prowlarr/helm-release.yaml
Labels: area/cluster

fix(container): update image turt2live/matrix-media-repo to v1.2.13
  cluster/clusters/cluster-0/matrix/media-repo/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/kubernetes-kubectl to b3c111e
  cluster/clusters/cluster-0/network/cloudflare-ddns/cron-job.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/qbittorrent to a68f52f
  cluster/clusters/cluster-0/media/qbittorrent/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/tautulli to e4d56fe
  cluster/clusters/cluster-0/media/tautulli/helm-release.yaml
Labels: area/cluster

feat(terraform)!: Update Terraform vyos to 2.0.0
  infrastructure/vyos/.terraform.lock.hcl
  infrastructure/vyos/main.tf
Labels: area/infrastructure

fix(container): update image ghcr.io/bjw-s/calibre-web to a0a55d9
  cluster/clusters/cluster-0/media/calibre-web/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/bjw-s/calibre-web to 88de503
  cluster/clusters/cluster-0/media/calibre-web/helm-release.yaml
Labels: area/cluster

fix(container): update image docker.io/1password/connect-api to v1.6.1
  cluster/clusters/cluster-0/security/external-secrets/stores/onepassword/helm-release.yaml
Labels: area/cluster

fix(container): update image docker.io/1password/connect-sync to v1.6.1
  cluster/clusters/cluster-0/security/external-secrets/stores/onepassword/patches/sync.yaml
Labels: area/cluster

feat(helm): update chart cilium to 1.13.0
  cluster/clusters/cluster-0/kube-system/cilium/helm-release.yaml
  infrastructure/talos/cluster-0/cni/kustomization.yaml
Labels: area/cluster, area/infrastructure

feat(helm): update chart cloudnative-pg to 0.17.0
  cluster/clusters/cluster-0/db/cloudnative-pg/operator/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/bjw-s/calibre-web to cb1962c
  cluster/clusters/cluster-0/media/calibre-web/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/bjw-s/calibre-web to ea7a976
  cluster/clusters/cluster-0/media/calibre-web/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/bjw-s/calibre-web to 040e872
  cluster/clusters/cluster-0/media/calibre-web/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/bjw-s/calibre-web to 21ead5b
  cluster/clusters/cluster-0/media/calibre-web/helm-release.yaml
Labels: area/cluster

feat(helm): update chart pod-gateway to 6.1.0
  cluster/clusters/cluster-0/vpn/media-gateway/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/shlinkio/shlink to v3.5.2
  cluster/clusters/cluster-0/selfhosted/shlink/api/helm-release.yaml
Labels: area/cluster

add secret for auth0 and synapse
  cluster/clusters/cluster-0/flux-system/cluster-config/secret.sops.yaml
Labels: area/cluster

change oidc config to use auth0 on synapse
  cluster/clusters/cluster-0/matrix/synapse/config/homeserver.yaml
Labels: area/cluster

try these mappings
  cluster/clusters/cluster-0/matrix/synapse/config/homeserver.yaml
Labels: area/cluster

flip back to other config
  cluster/clusters/cluster-0/matrix/synapse/config/homeserver.yaml
Labels: area/cluster

drop the user mapping config
  cluster/clusters/cluster-0/matrix/synapse/config/homeserver.yaml
Labels: area/cluster

update to include user.name
  cluster/clusters/cluster-0/matrix/synapse/config/homeserver.yaml
Labels: area/cluster

add preferred username back in
  cluster/clusters/cluster-0/matrix/synapse/config/homeserver.yaml
Labels: area/cluster

feat(container): update image ghcr.io/paperless-ngx/paperless-ngx to v1.13.0
  cluster/clusters/cluster-0/selfhosted/paperless/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/bjw-s/calibre-web to aca1b02
  cluster/clusters/cluster-0/media/calibre-web/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/bjw-s/calibre-web to d5d683f
  cluster/clusters/cluster-0/media/calibre-web/helm-release.yaml
Labels: area/cluster

feat(container): update image ghcr.io/angelnu/gateway-admision-controller to v3.8.0
  cluster/clusters/cluster-0/vpn/media-gateway/helm-release.yaml
Labels: area/cluster

feat(helm): update chart pod-gateway to 6.2.0
  cluster/clusters/cluster-0/vpn/media-gateway/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/bjw-s/calibre-web to 9cd245a
  cluster/clusters/cluster-0/media/calibre-web/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/kubernetes-kubectl to 7712b18
  cluster/clusters/cluster-0/network/cloudflare-ddns/cron-job.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/tautulli to 7eed922
  cluster/clusters/cluster-0/media/tautulli/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/bjw-s/calibre-web to d86e8b9
  cluster/clusters/cluster-0/media/calibre-web/helm-release.yaml
Labels: area/cluster

feat(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.3.0.2706
  cluster/clusters/cluster-0/media/prowlarr/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.3.0.2725
  cluster/clusters/cluster-0/media/prowlarr/helm-release.yaml
Labels: area/cluster

fix(helm): update chart vcluster to 0.14.1
  cluster/clusters/cluster-0/staging-tenant/vcluster/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/theme-park to v1.13.4
  cluster/clusters/cluster-0/network/theme-park/helm-release.yaml
Labels: area/cluster

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "cluster/**/*"
area/hack:
  - "hack/**/*"
area/infrastructure:
  - "infrastructure/**/*"
