Repository carpenike/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/hack, area/infrastructure

fix(container): update image ghcr.io/onedr0p/qbittorrent to 51153d3
  cluster/clusters/cluster-0/media/qbittorrent/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/sonarr-develop to 780f96b
  cluster/clusters/cluster-0/media/sonarr/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/tautulli to 332043b
  cluster/clusters/cluster-0/media/tautulli/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/home-assistant to 4e5088a
  cluster/clusters/cluster-0/home/home-assistant/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v0.4.10.2084
  cluster/clusters/cluster-0/media/prowlarr/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v0.4.10.2085
  cluster/clusters/cluster-0/media/prowlarr/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v0.4.10.2086
  cluster/clusters/cluster-0/media/prowlarr/helm-release.yaml
Labels: area/cluster

fix(helm): update chart thanos to 11.5.10
  cluster/clusters/cluster-0/monitoring/thanos/helm-release.yaml
Labels: area/cluster

fix(helm): update chart redis to 17.3.10
  cluster/clusters/cluster-0/db/redis/helm-release.yaml
Labels: area/cluster

fix(container): update image tootsuite/mastodon to v3.5.5
  cluster/clusters/cluster-0/mastodon/mastodon/helm-release.yaml
Labels: area/cluster

feat(container)!: Update image tootsuite/mastodon to v4
  cluster/clusters/cluster-0/mastodon/mastodon/helm-release.yaml
Labels: area/cluster

fix(helm): update chart redis to 17.3.11
  cluster/clusters/cluster-0/db/redis/helm-release.yaml
Labels: area/cluster

fix(container): update image dock.mau.dev/mautrix/facebook to v0.4.1
  cluster/clusters/cluster-0/matrix/facebook/helm-release.yaml
Labels: area/cluster

fix(container): update image dock.mau.dev/mautrix/whatsapp to v0.7.2
  cluster/clusters/cluster-0/matrix/whatsapp/helm-release.yaml
Labels: area/cluster

feat(helm): update chart thanos to 11.6.0
  cluster/clusters/cluster-0/monitoring/thanos/helm-release.yaml
Labels: area/cluster

feat(helm): update chart vcluster to 0.13.0
  cluster/clusters/cluster-0/staging-tenant/vcluster/helm-release.yaml
Labels: area/cluster

feat(helm): update chart vector to 0.17.0
  cluster/clusters/cluster-0/monitoring/vector/agent/helm-release.yaml
  cluster/clusters/cluster-0/monitoring/vector/aggregator/helm-release.yaml
Labels: area/cluster

fix(helm): update chart cilium to 1.12.4
  cluster/clusters/cluster-0/kube-system/cilium/helm-release.yaml
  infrastructure/talos/cluster-0/cni/kustomization.yaml
Labels: area/cluster, area/infrastructure

fix(container): update image busybox to 5b87dd5
  cluster/clusters/cluster-0/selfhosted/obsidian-couchdb/helm-release.yaml
Labels: area/cluster

fix(container): update image busybox to 4bd26bc
  cluster/clusters/cluster-0/selfhosted/obsidian-couchdb/helm-release.yaml
Labels: area/cluster

fix(container): update image busybox to fcd8522
  cluster/clusters/cluster-0/selfhosted/obsidian-couchdb/helm-release.yaml
Labels: area/cluster

fix(container): update image rancher/k3s to v1.25.4
  cluster/clusters/cluster-0/staging-tenant/vcluster/helm-release.yaml
Labels: area/cluster

fix(helm): update chart k10 to 5.5.1
  cluster/clusters/cluster-0/kasten-io/k10/helm-release.yaml
Labels: area/cluster

feat(helm): update chart kube-prometheus-stack to 41.9.1
  cluster/base/repositories/git/kube-prometheus-stack.yaml
  cluster/clusters/cluster-0/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v0.4.10.2089
  cluster/clusters/cluster-0/media/prowlarr/helm-release.yaml
Labels: area/cluster

add teleport charts repo
  cluster/base/repositories/helm/kustomization.yaml
  cluster/base/repositories/helm/teleport-charts.yaml
Labels: area/cluster

deploy teleport cluster namespace
  cluster/clusters/cluster-0/flux-system/definitions/teleport-cluster.yaml
  cluster/clusters/cluster-0/teleport-cluster/kustomization.yaml
  cluster/clusters/cluster-0/teleport-cluster/namespace.yaml
Labels: area/cluster

add ip for teleport cluster
  cluster/clusters/cluster-0/flux-system/cluster-config/configmap.yaml
Labels: area/cluster

early deployment of teleport-cluster
  cluster/clusters/cluster-0/teleport-cluster/teleport/cluster/config-pvc.yaml
  cluster/clusters/cluster-0/teleport-cluster/teleport/cluster/helm-release.yaml
  cluster/clusters/cluster-0/teleport-cluster/teleport/cluster/kustomization.yaml
  cluster/clusters/cluster-0/teleport-cluster/teleport/cluster/secret.sops.yaml
Labels: area/cluster

fix(helm): update chart cert-manager to v1.10.1
  cluster/clusters/cluster-0/cert-manager/cert-manager/app/helm-release.yaml
Labels: area/cluster

fix(helm): update chart kyverno to 2.6.2
  cluster/clusters/cluster-0/system/kyverno/app/helm-release.yaml
Labels: area/cluster

feat(github-release): update fluxcd/flux2 to v0.37.0
  cluster/clusters/cluster-0/kustomization.yaml
Labels: area/cluster

deploy teleport cluster
  cluster/clusters/cluster-0/flux-system/definitions/teleport-cluster.yaml
Labels: area/cluster

add sea of thieves basic ports
  infrastructure/vyos/firewall_rules.yaml
  infrastructure/vyos/settings.yaml
Labels: area/infrastructure

add additional teraform required packages
  infrastructure/vyos/.terraform.lock.hcl
Labels: area/infrastructure

update talos config
  infrastructure/talos/cluster-0/kubelet-csr-approver/kustomization.yaml
  infrastructure/talos/cluster-0/talconfig.yaml
Labels: area/infrastructure

couple more ports
  infrastructure/vyos/firewall_rules.yaml
Labels: area/infrastructure

add terraform id_tf key to sops
  .sops.yaml
  infrastructure/vyos/id_tf
Labels: area/infrastructure

add address book entry for rymac
  infrastructure/address_book.yaml
  infrastructure/vyos/settings.yaml
Labels: area/infrastructure

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v0.4.10.2096
  cluster/clusters/cluster-0/media/prowlarr/helm-release.yaml
Labels: area/cluster

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "cluster/**/*"
area/hack:
  - "hack/**/*"
area/infrastructure:
  - "infrastructure/**/*"
