Repository carpenike/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/hack, area/infrastructure

update loki sink address
  cluster/clusters/cluster-0/monitoring/vector/aggregator/helm-release.yaml
Labels: area/cluster

feat(helm): update chart thanos to 11.5.0
  cluster/clusters/cluster-0/monitoring/thanos/helm-release.yaml
Labels: area/cluster

slowly adding changes to validate functionality -- wan works
  infrastructure/vyos/firewall_rules.yaml
Labels: area/infrastructure

wan works
  infrastructure/vyos/settings.yaml
Labels: area/infrastructure

wired and mgmt work
  infrastructure/vyos/settings.yaml
Labels: area/infrastructure

servers worked
  infrastructure/vyos/settings.yaml
Labels: area/infrastructure

make plex hostname public
  cluster/clusters/cluster-0/media/plex/helm-release.yaml
Labels: area/cluster

wireless works
  infrastructure/vyos/settings.yaml
Labels: area/infrastructure

add prometheus monitoring endpoint to haproxy
  infrastructure/vyos/files/haproxy/haproxy.cfg.tftpl
Labels: area/infrastructure

everything now works
  infrastructure/vyos/settings.yaml
Labels: area/infrastructure

fix(helm): update chart cilium to 1.12.2
  cluster/clusters/cluster-0/kube-system/cilium/helm-release.yaml
  infrastructure/talos/cluster-0/cni/kustomization.yaml
Labels: area/cluster, area/infrastructure

update speedtest config
  cluster/clusters/cluster-0/monitoring/speedtest-exporter/dashboard/kustomization.yaml
  cluster/clusters/cluster-0/monitoring/speedtest-exporter/dashboard/speedtest-exporter-dashboard.json
  cluster/clusters/cluster-0/monitoring/speedtest-exporter/helm-release.yaml
  cluster/clusters/cluster-0/monitoring/speedtest-exporter/kustomization.yaml
  cluster/clusters/cluster-0/monitoring/speedtest-exporter/service-monitor.yaml
Labels: area/cluster

update namespace
  cluster/clusters/cluster-0/monitoring/speedtest-exporter/kustomization.yaml
Labels: area/cluster

feat(helm): update chart app-template to 0.2.1
  cluster/clusters/cluster-0/home/amcrest2mqtt/helm-release.yaml
  cluster/clusters/cluster-0/home/frigate/helm-release.yaml
  cluster/clusters/cluster-0/home/home-assistant/app/helm-release.yaml
  cluster/clusters/cluster-0/home/home-assistant/code-server/helm-release.yaml
  cluster/clusters/cluster-0/home/zigbee2mqtt/helm-release.yaml
  cluster/clusters/cluster-0/home/zwavejs2mqtt/helm-release.yaml
  cluster/clusters/cluster-0/media/media-browser/helm-release.yaml
  cluster/clusters/cluster-0/media/overseerr/helm-release.yaml
  cluster/clusters/cluster-0/media/plex/helm-release.yaml
  cluster/clusters/cluster-0/media/prowlarr/helm-release.yaml
  cluster/clusters/cluster-0/media/qbittorrent/helm-release.yaml
  cluster/clusters/cluster-0/media/radarr/helm-release.yaml
  cluster/clusters/cluster-0/media/readarr/audio/helm-release.yaml
  cluster/clusters/cluster-0/media/readarr/ebooks/helm-release.yaml
  cluster/clusters/cluster-0/media/sabnzbd/helm-release.yaml
  cluster/clusters/cluster-0/media/sonarr/helm-release.yaml
  cluster/clusters/cluster-0/media/tautulli/helm-release.yaml
  cluster/clusters/cluster-0/monitoring/speedtest-exporter/helm-release.yaml
  cluster/clusters/cluster-0/network/k8s-gateway/helm-release.yaml
  cluster/clusters/cluster-0/network/theme-park/helm-release.yaml
  cluster/clusters/cluster-0/network/unifi/helm-release.yaml
  cluster/clusters/cluster-0/security/authelia/app/helm-release.yaml
  cluster/clusters/cluster-0/security/authelia/redis/helm-release.yaml
  cluster/clusters/cluster-0/security/glauth/helm-release.yaml
  cluster/clusters/cluster-0/security/vaultwarden/helm-release.yaml
  cluster/clusters/cluster-0/web-tools/shlink/api/helm-release.yaml
  cluster/clusters/cluster-0/web-tools/shlink/web/helm-release.yaml
Labels: area/cluster

wrong variable name
  cluster/clusters/cluster-0/home/home-assistant/app/helm-release.yaml
Labels: area/cluster

update speedtest server that cluster runs
  cluster/clusters/cluster-0/monitoring/speedtest-exporter/helm-release.yaml
Labels: area/cluster

add speedtest_exporter ports
  infrastructure/vyos/firewall_rules.yaml
  infrastructure/vyos/settings.yaml
Labels: area/infrastructure

change to tcp_udp for speedtest
  infrastructure/vyos/firewall_rules.yaml
Labels: area/infrastructure

deploy amcrest2mqtt
  cluster/clusters/cluster-0/flux-system/definitions/home.yaml
Labels: area/cluster

deploy trivy-system namespace
  cluster/clusters/cluster-0/flux-system/definitions/trivy-system.yaml
  cluster/clusters/cluster-0/trivy-system/kustomization.yaml
  cluster/clusters/cluster-0/trivy-system/namespace.yaml
Labels: area/cluster

deploy aqua-charts helm charts repo
  cluster/base/repositories/helm/aqua-charts.yaml
  cluster/base/repositories/helm/kustomization.yaml
Labels: area/cluster

deploy trivy
  cluster/clusters/cluster-0/flux-system/definitions/trivy-system.yaml
  cluster/clusters/cluster-0/trivy-system/trivy/helm-release.yaml
  cluster/clusters/cluster-0/trivy-system/trivy/kustomization.yaml
Labels: area/cluster

deploy esphome
  cluster/clusters/cluster-0/flux-system/definitions/home.yaml
  cluster/clusters/cluster-0/home/esphome/helm-release.yaml
Labels: area/cluster

deprecate node-red
  cluster/clusters/cluster-0/home/node-red/config-pvc.yaml
  cluster/clusters/cluster-0/home/node-red/helm-release.yaml
  cluster/clusters/cluster-0/home/node-red/kustomization.yaml
Labels: area/cluster

deprecate mealie
  cluster/clusters/cluster-0/home/mealie/config-pvc.yaml
  cluster/clusters/cluster-0/home/mealie/helm-release.yaml
  cluster/clusters/cluster-0/home/mealie/kustomization.yaml
Labels: area/cluster

add trivy dashboard
  cluster/clusters/cluster-0/trivy-system/trivy/kustomization.yaml
Labels: area/cluster

enable ingress anontation for trivy
  cluster/clusters/cluster-0/trivy-system/trivy/helm-release.yaml
Labels: area/cluster

disable trivy dashboard
  cluster/clusters/cluster-0/trivy-system/trivy/kustomization.yaml
Labels: area/cluster

swap trivy-operator to trivy
  cluster/clusters/cluster-0/trivy-system/trivy/helm-release.yaml
  cluster/clusters/cluster-0/trivy-system/trivy/kustomization.yaml
Labels: area/cluster

specify namespace
  cluster/clusters/cluster-0/trivy-system/trivy/kustomization.yaml
Labels: area/cluster

dump namespace mistake
  cluster/clusters/cluster-0/trivy-system/trivy/kustomization.yaml
Labels: area/cluster

make vault public
  cluster/clusters/cluster-0/security/vaultwarden/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/kubernetes-kubectl to v1.25.1
  cluster/clusters/cluster-0/network/cloudflare-ddns/cron-job.yaml
Labels: area/cluster

fix(helm): update chart grafana to 6.38.3
  cluster/clusters/cluster-0/monitoring/grafana/helm-release.yaml
Labels: area/cluster

feat(container): update image ghcr.io/dexidp/dex to v2.34.0
  cluster/clusters/cluster-0/security/dex/helm-release.yaml
Labels: area/cluster

feat(helm): update chart dex to 0.11.0
  cluster/clusters/cluster-0/security/dex/helm-release.yaml
Labels: area/cluster

fix(helm): update chart redis to 17.1.6
  cluster/clusters/cluster-0/db/redis/helm-release.yaml
Labels: area/cluster

fix(helm): update chart loki to 3.0.7
  cluster/clusters/cluster-0/monitoring/loki/helm-release.yaml
Labels: area/cluster

feat(container): update image ghcr.io/shlinkio/shlink to v3.3.0
  cluster/clusters/cluster-0/web-tools/shlink/api/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v0.4.7.1976
  cluster/clusters/cluster-0/media/prowlarr/helm-release.yaml
Labels: area/cluster

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "cluster/**/*"
area/hack:
  - "hack/**/*"
area/infrastructure:
  - "infrastructure/**/*"
