Repository carpenike/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/kubernetes, cluster/main, cluster/nas-1

deprecate templates folder
  _archive/templates/gatus/external/configmap.yaml
  _archive/templates/gatus/external/kustomization.yaml
  _archive/templates/gatus/guarded/configmap.yaml
  _archive/templates/gatus/guarded/kustomization.yaml
  _archive/templates/volsync/kustomization.yaml
  _archive/templates/volsync/minio/externalsecret.yaml
  _archive/templates/volsync/minio/kustomization.yaml
  _archive/templates/volsync/minio/replicationdestination.yaml
  _archive/templates/volsync/minio/replicationsource.yaml
  _archive/templates/volsync/pvc.yaml
  _archive/templates/volsync/r2/externalsecret.yaml
  _archive/templates/volsync/r2/kustomization.yaml
  _archive/templates/volsync/r2/replicationsource.yaml
  kubernetes/cluster-0/talos/apply-clusterconfig.sh
  kubernetes/cluster-0/talos/talconfig.yaml
Labels: area/kubernetes, cluster/main

update dependencies
  kubernetes/cluster-0/apps/media/sabnzbd/app/kustomization.yaml
  kubernetes/cluster-0/apps/media/sabnzbd/app/kustomizeconfig.yaml
  kubernetes/cluster-0/apps/media/sabnzbd/app/resources/xseed.sh
Labels: area/kubernetes, cluster/main

deprecate ingress, use route
  kubernetes/cluster-0/apps/media/sabnzbd/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

whoops
  kubernetes/cluster-0/apps/kube-system/cilium/gateway/gateway-external.yaml
Labels: area/kubernetes, cluster/main

update cloudflare to point to gateway instead of ingress
  kubernetes/cluster-0/apps/network/cloudflared/app/config/config.yaml
  kubernetes/cluster-0/apps/network/cloudflared/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

update externaldns to pick up routes
  kubernetes/cluster-0/apps/network/external-dns/external/helmrelease.yaml
  kubernetes/cluster-0/apps/network/external-dns/internal/helmrelease.yaml
Labels: area/kubernetes, cluster/main

disable shared
  kubernetes/cluster-0/apps/network/external-dns/ks.yaml
Labels: area/kubernetes, cluster/main

not sure what I want to do with this
  kubernetes/cluster-0/apps/media/sabnzbd/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix name
  kubernetes/cluster-0/apps/network/external-dns/external/helmrelease.yaml
Labels: area/kubernetes, cluster/main

moved that path
  kubernetes/cluster-0/apps/media/plex/app/kustomization.yaml
Labels: area/kubernetes, cluster/main

add namespace
  kubernetes/cluster-0/apps/network/external-dns/external/helmrelease.yaml
Labels: area/kubernetes, cluster/main

bump chart version for cloudflare
  kubernetes/cluster-0/apps/cert-manager/cert-manager/app/helmrelease.yaml
  kubernetes/cluster-0/apps/cert-manager/cert-manager/app/kustomization.yaml
  kubernetes/cluster-0/apps/cert-manager/cert-manager/app/kustomizeconfig.yaml
  kubernetes/cluster-0/apps/cert-manager/cert-manager/app/prometheusrule.yaml
  kubernetes/cluster-0/apps/cert-manager/cert-manager/app/values.yaml
Labels: area/kubernetes, cluster/main

update uri to not use internal as that's used for other ingress
  kubernetes/cluster-0/apps/kube-system/cilium/gateway/gateway-internal.yaml
Labels: area/kubernetes, cluster/main

fix name
  kubernetes/cluster-0/apps/cert-manager/cert-manager/app/kustomization.yaml
Labels: area/kubernetes, cluster/main

move hass ot new format
  kubernetes/cluster-0/apps/home/home-assistant/app/helmrelease.yaml
  kubernetes/cluster-0/apps/home/home-assistant/app/kustomization.yaml
  kubernetes/cluster-0/apps/home/home-assistant/app/pvc.yaml
  kubernetes/cluster-0/apps/home/home-assistant/ks.yaml
Labels: area/kubernetes, cluster/main

use a different name
  kubernetes/cluster-0/apps/kube-system/cilium/gateway/gateway-external.yaml
Labels: area/kubernetes, cluster/main

deprecate ingress
  kubernetes/cluster-0/apps/home/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

move plex to new model
  kubernetes/cluster-0/apps/media/plex/app/helmrelease.yaml
  kubernetes/cluster-0/apps/media/plex/app/kustomization.yaml
  kubernetes/cluster-0/apps/media/plex/ks.yaml
Labels: area/kubernetes, cluster/main

update rook
  kubernetes/cluster-0/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
  kubernetes/cluster-0/apps/rook-ceph/rook-ceph/ks.yaml
  kubernetes/cluster-0/apps/rook-ceph/rook-ceph/operator/helmrelease.yaml
Labels: area/kubernetes, cluster/main

update snapshot-controller
  kubernetes/cluster-0/apps/system-controllers/snapshot-controller/app/helmrelease.yaml
  kubernetes/cluster-0/apps/system-controllers/snapshot-controller/app/kustomization.yaml
Labels: area/kubernetes, cluster/main

Add modular instructions for Kubernetes GitOps practices
  .github/copilot-instructions.md
  .github/instructions/README.md
  .github/instructions/applications.instructions.md
  .github/instructions/external-secrets.instructions.md
  .github/instructions/externaldns.instructions.md
  .github/instructions/flux.instructions.md
  .github/instructions/helmrelease.instructions.md
  .github/instructions/secrets.instructions.md
  .github/instructions/talos.instructions.md
  .github/instructions/yaml-schemas.instructions.md
  .vscode/mcp.json
Labels: area/ci

Remove .vscode/ from .gitignore
  .gitignore
Labels: none

Add deployment prompts for various Kubernetes services including apps, databases, media, home automation, monitoring, and network services
  .github/prompts/README.md
  .github/prompts/app-template.prompt.md
  .github/prompts/database.prompt.md
  .github/prompts/home-automation.prompt.md
  .github/prompts/media-app.prompt.md
  .github/prompts/monitoring.prompt.md
  .github/prompts/network-service.prompt.md
Labels: area/ci

feat: enhance documentation for Kubernetes application deployment and VolSync integration
  .github/copilot-instructions.md
  .github/instructions/applications.instructions.md
  .github/instructions/helmrelease.instructions.md
  .github/instructions/volsync.instructions.md
  .github/prompts/app-template.prompt.md
  docs/APPLICATION-DEPLOYMENT-GUIDE.md
  docs/SHARED-PVCS-GUIDE.md
  docs/VOLSYNC-INTEGRATION-GUIDE.md
Labels: area/ci

feat: update YAML schema validation guidelines across documentation
  .github/copilot-instructions.md
  .github/instructions/applications.instructions.md
  .github/instructions/external-secrets.instructions.md
  .github/instructions/externaldns.instructions.md
  .github/instructions/flux.instructions.md
  .github/instructions/helmrelease.instructions.md
  .github/instructions/secrets.instructions.md
  .github/instructions/talos.instructions.md
  .github/instructions/volsync.instructions.md
  .github/instructions/yaml-schemas.instructions.md
Labels: area/ci

fix: update Kustomization schema references to use FluxCD schemas
  .github/instructions/yaml-schemas.instructions.md
Labels: area/ci

chore: remove YAML language server schema references from various configuration files
  kubernetes/cluster-0/apps/cert-manager/cert-manager/app/prometheusrule.yaml
  kubernetes/cluster-0/apps/db/cloudnative-pg/cluster/cluster-v16.yaml
  kubernetes/cluster-0/apps/db/cloudnative-pg/cluster/cluster.yaml
  kubernetes/cluster-0/apps/db/cloudnative-pg/cluster/prometheusrule.yaml
  kubernetes/cluster-0/apps/db/emqx/cluster/cluster.yaml
  kubernetes/cluster-0/apps/home/frigate/app/config/config.yml
  kubernetes/cluster-0/apps/kube-system/cilium/app/helmrepository.yaml
  kubernetes/cluster-0/apps/kube-system/cilium/config/l3.yaml
  kubernetes/cluster-0/apps/kube-system/cilium/config/pool.yaml
  kubernetes/cluster-0/apps/kube-system/cilium/gateway/certificate.yaml
  kubernetes/cluster-0/apps/kube-system/cilium/gateway/gateway-external.yaml
  kubernetes/cluster-0/apps/kube-system/cilium/gateway/gateway-internal.yaml
  kubernetes/cluster-0/apps/media/recyclarr/app/resources/recyclarr.yml
  kubernetes/cluster-0/apps/monitoring/kube-prometheus-stack/app/alerts/oomkilled.yaml
  kubernetes/cluster-0/apps/monitoring/kube-prometheus-stack/app/prometheusrules/zfs.yaml
  kubernetes/cluster-0/apps/monitoring/kube-prometheus-stack/app/scrapeconfigs/node-exporter.yaml
  kubernetes/cluster-0/apps/monitoring/loki/app/prometheus-rule.yaml
  kubernetes/cluster-0/apps/monitoring/snmp-exporter/apc-ups/prometheusrule.yaml
  kubernetes/cluster-0/apps/system-upgrade/system-upgrade-controller/plans/talos.yaml
  kubernetes/cluster-0/apps/system/volsync/app/prometheusrule.yaml
  kubernetes/cluster-0/components/volsync/kustomization.yaml
  kubernetes/cluster-0/components/volsync/minio/replicationdestination.yaml
  kubernetes/cluster-0/components/volsync/minio/replicationsource.yaml
  kubernetes/cluster-0/components/volsync/r2/replicationsource.yaml
  kubernetes/cluster-0/flux/repositories/helm/actions-runner-controller.yaml
  kubernetes/cluster-0/flux/repositories/helm/authentik.yaml
  kubernetes/cluster-0/flux/repositories/helm/emqx.yaml
  kubernetes/cluster-0/flux/repositories/helm/k8tz.yaml
  kubernetes/cluster-0/flux/repositories/helm/openebs.yaml
  kubernetes/cluster-0/flux/repositories/oci/app-template.yaml
  kubernetes/cluster-0/talos/talconfig.yaml
Labels: area/kubernetes, cluster/main

fix: update OCIRepository API version to v1beta2 and adjust interval and tag
  kubernetes/cluster-0/flux/repositories/oci/app-template.yaml
Labels: area/kubernetes, cluster/main

fix: update Kustomization API version to v1beta1 for compatibility
  kubernetes/cluster-0/flux/config/kustomization.yaml
Labels: area/kubernetes, cluster/main

fix: update Kustomization API version to v1beta1 for compatibility
  kubernetes/cluster-0/flux/repositories/helm/kustomization.yaml
  kubernetes/cluster-0/flux/repositories/kustomization.yaml
Labels: area/kubernetes, cluster/main

fix: update HelmRelease schemas and change chart references to OCIRepository
  kubernetes/cluster-0/apps/media/plex/tools/auto-languages/helmrelease.yaml
  kubernetes/cluster-0/apps/media/qbittorrent/tools/helmrelease.yaml
  kubernetes/cluster-0/apps/security/authentik/redis/helmrelease.yaml
  kubernetes/cluster-0/apps/security/oauth2-proxy/app/helmrelease.yaml
  kubernetes/cluster-0/apps/security/oauth2-proxy/redis/helmrelease.yaml
  kubernetes/cluster-0/apps/selfhosted/actual/app/helmrelease.yaml
  kubernetes/cluster-0/apps/selfhosted/fb2mqtt/app/helmrelease.yaml
  kubernetes/cluster-0/flux/repositories/git/kustomization.yaml
  kubernetes/cluster-0/flux/repositories/oci/kustomization.yaml
  kubernetes/cluster-0/flux/vars/kustomization.yaml
  kubernetes/nas-1/flux/config/kustomization.yaml
  kubernetes/nas-1/flux/repositories/helm/kustomization.yaml
  kubernetes/nas-1/flux/repositories/kustomization.yaml
  kubernetes/nas-1/flux/repositories/oci/kustomization.yaml
  kubernetes/nas-1/flux/vars/kustomization.yaml
Labels: area/kubernetes, cluster/main, cluster/nas-1

fix: update apiVersion of OCIRepository to v1beta2 for compatibility
  kubernetes/cluster-0/flux/repositories/oci/app-template.yaml
Labels: area/kubernetes, cluster/main

fix: update apiVersion of OCIRepository to v1beta2 for compatibility
  kubernetes/cluster-0/flux/config/flux.yaml
  kubernetes/nas-1/flux/config/flux.yaml
Labels: area/kubernetes, cluster/main, cluster/nas-1

fix: correct path for volsync template in kustomization.yaml
  kubernetes/cluster-0/apps/media/bazarr/app/kustomization.yaml
Labels: area/kubernetes, cluster/main

fix: update paths for volsync templates in multiple kustomization.yaml files
  kubernetes/cluster-0/apps/home/esphome/app/kustomization.yaml
  kubernetes/cluster-0/apps/security/authentik/redis/helmrelease.yaml
  kubernetes/cluster-0/apps/security/oauth2-proxy/app/kustomization.yaml
  kubernetes/cluster-0/apps/selfhosted/mealie/app/kustomization.yaml
  kubernetes/cluster-0/apps/selfhosted/miniflux/app/kustomization.yaml
  kubernetes/cluster-0/apps/selfhosted/open-webui/app/kustomization.yaml
Labels: area/kubernetes, cluster/main

fix: update paths for volsync components in multiple kustomization.yaml files
  kubernetes/cluster-0/apps/home/esphome/app/kustomization.yaml
  kubernetes/cluster-0/apps/home/frigate/app/kustomization.yaml
  kubernetes/cluster-0/apps/home/scrypted/app/kustomization.yaml
  kubernetes/cluster-0/apps/home/signal-cli/app/kustomization.yaml
  kubernetes/cluster-0/apps/home/zigbee2mqtt/app/kustomization.yaml
  kubernetes/cluster-0/apps/home/zwavejs2mqtt/app/kustomization.yaml
  kubernetes/cluster-0/apps/media/bazarr/app/kustomization.yaml
  kubernetes/cluster-0/apps/media/overseerr/app/kustomization.yaml
  kubernetes/cluster-0/apps/media/qbittorrent/app/kustomization.yaml
  kubernetes/cluster-0/apps/media/recyclarr/app/kustomization.yaml
  kubernetes/cluster-0/apps/media/tautulli/app/kustomization.yaml
  kubernetes/cluster-0/apps/selfhosted/open-webui/app/kustomization.yaml
  kubernetes/cluster-0/apps/selfhosted/paperless/app/kustomization.yaml
Labels: area/kubernetes, cluster/main

fix: correct path for volsync component in kustomization.yaml
  kubernetes/cluster-0/apps/selfhosted/open-webui/app/kustomization.yaml
Labels: area/kubernetes, cluster/main

fix: correct path for volsync component in kustomization.yaml
  kubernetes/cluster-0/apps/home/signal-cli/app/kustomization.yaml
Labels: area/kubernetes, cluster/main

fix: update path for volsync component in kustomization.yaml
  kubernetes/cluster-0/apps/home/signal-cli/app/kustomization.yaml
Labels: area/kubernetes, cluster/main

fix: update apiVersion to v1beta1 in volsync kustomization.yaml
  kubernetes/cluster-0/components/volsync/kustomization.yaml
Labels: area/kubernetes, cluster/main

.github/labeler.yaml:

---
# Area
area/ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
# Cluster
cluster/main:
  - changed-files:
      - any-glob-to-any-file: kubernetes/cluster-0/**/*
cluster/nas-1:
  - changed-files:
      - any-glob-to-any-file: kubernetes/nas-1/**/*
