Repository carpenike/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/hack, area/infrastructure

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "cluster/**/*"
area/hack:
  - "hack/**/*"
area/infrastructure:
  - "infrastructure/**/*"

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.500
  cluster/clusters/cluster-0/media/sonarr/helm-release.yaml
Labels: area/cluster

fix(helm): update chart grafana to 6.56.4
  cluster/clusters/cluster-0/monitoring/grafana/helm-release.yaml
Labels: area/cluster

fix(container): update image mbentley/omada-controller to f0bee73
  cluster/clusters/cluster-0/network/omada/controller/helm-release.yaml
Labels: area/cluster

fix(container): update image docker.io/n8nio/n8n to v0.228.2
  cluster/clusters/cluster-0/selfhosted/n8n/helm-release.yaml
Labels: area/cluster

feat(helm): update chart kube-prometheus-stack to 45.28.0
  cluster/base/repositories/git/kube-prometheus-stack.yaml
  cluster/clusters/cluster-0/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.5.0.3331
  cluster/clusters/cluster-0/media/prowlarr/helm-release.yaml
Labels: area/cluster

fix(ansible): update ansible.posix to 1.5.4
  provision/storage/servers/requirements.yml
Labels: none

fix(container): update image ghcr.io/onedr0p/readarr-nightly to v0.1.5.1818
  cluster/clusters/cluster-0/media/readarr/audio/helm-release.yaml
  cluster/clusters/cluster-0/media/readarr/ebooks/helm-release.yaml
Labels: area/cluster

feat(container): update image ghcr.io/zwave-js/zwave-js-ui to v8.16.1
  cluster/clusters/cluster-0/home/zwavejs2mqtt/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/radarr-develop to v4.5.1.7282
  cluster/clusters/cluster-0/media/radarr/helm-release.yaml
Labels: area/cluster

fix(container): update image mbentley/omada-controller to 85c58b3
  cluster/clusters/cluster-0/network/omada/controller/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.5.0.3332
  cluster/clusters/cluster-0/media/prowlarr/helm-release.yaml
Labels: area/cluster

fix(container): update image dock.mau.dev/mautrix/whatsapp to v0.8.5
  cluster/clusters/cluster-0/matrix/whatsapp/helm-release.yaml
Labels: area/cluster

fix(helm): update chart goldilocks to 6.5.6
  cluster/clusters/cluster-0/monitoring/goldilocks/helm-release.yaml
Labels: area/cluster

fix(helm): update chart vpa to 1.7.5
  cluster/clusters/cluster-0/monitoring/vpa/helm-release.yaml
Labels: area/cluster

fix(helm): update rook-ceph group to v1.11.6
  cluster/clusters/cluster-0/rook-ceph/add-ons/direct-mount/deployment.yaml
  cluster/clusters/cluster-0/rook-ceph/cluster/helm-release.yaml
  cluster/clusters/cluster-0/rook-ceph/operator/helm-release.yaml
  deprecated-k8s/clusters/cluster-0/manifests/rook-ceph/cluster/helm-release.yaml
Labels: area/cluster

feat(container): update image ghcr.io/esphome/esphome to v2023.5.0
  cluster/clusters/cluster-0/home/esphome/helm-release.yaml
Labels: area/cluster

fix(helm): update chart kube-prometheus-stack to 45.28.1
  cluster/base/repositories/git/kube-prometheus-stack.yaml
  cluster/clusters/cluster-0/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/cluster

fix(container): update image mbentley/omada-controller to 1f3bbd3
  cluster/clusters/cluster-0/network/omada/controller/helm-release.yaml
Labels: area/cluster

fix(helm): update chart loki to 5.5.2
  cluster/clusters/cluster-0/monitoring/loki/helm-release.yaml
Labels: area/cluster

fix(container): update image dock.mau.dev/mautrix/signal to v0.4.3
  cluster/clusters/cluster-0/matrix/signal/helm-release.yaml
Labels: area/cluster

feat(helm): update chart thanos to 12.6.1
  cluster/clusters/cluster-0/monitoring/thanos/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.5.0.3335
  cluster/clusters/cluster-0/media/prowlarr/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.5.0.3336
  cluster/clusters/cluster-0/media/prowlarr/helm-release.yaml
Labels: area/cluster

chore(deps): update xanmanning.k3s to v3.4.1
  provision/storage/servers/requirements.yml
Labels: none

fix multus to support new version of multus on talos
  cluster/clusters/cluster-0/network/multus/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/kubernetes-kubectl to v1.27.2
  cluster/clusters/cluster-0/network/cloudflare-ddns/cron-job.yaml
Labels: area/cluster

deprecate configmap-script for sonarr
  cluster/clusters/cluster-0/media/sonarr/kustomization.yaml
  cluster/clusters/cluster-0/media/sonarr/scripts/pushover-notify.sh
Labels: area/cluster

remove radarr pushover script as it's built in
  cluster/clusters/cluster-0/media/radarr/kustomization.yaml
  cluster/clusters/cluster-0/media/radarr/scripts/pushover-notify.sh
Labels: area/cluster

fix(container): update image ghcr.io/esphome/esphome to v2023.5.1
  cluster/clusters/cluster-0/home/esphome/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.5.0.3349
  cluster/clusters/cluster-0/media/prowlarr/helm-release.yaml
Labels: area/cluster

fix(helm): update chart grafana to 6.56.5
  cluster/clusters/cluster-0/monitoring/grafana/helm-release.yaml
Labels: area/cluster

fix(container): update image mbentley/omada-controller to 9665387
  cluster/clusters/cluster-0/network/omada/controller/helm-release.yaml
Labels: area/cluster

feat(helm): update chart redis to 17.11.2
  cluster/clusters/cluster-0/db/redis/helm-release.yaml
Labels: area/cluster

feat(container): update image ghcr.io/immich-app/immich-machine-learning to v1.56.0
  cluster/clusters/cluster-0/media/immich/app/machine-learning/helm-release.yaml
Labels: area/cluster

feat(container): update image ghcr.io/immich-app/immich-server to v1.56.0
  cluster/clusters/cluster-0/media/immich/app/microservices/helm-release.yaml
  cluster/clusters/cluster-0/media/immich/app/server/helm-release.yaml
Labels: area/cluster

feat(container): update image ghcr.io/immich-app/immich-web to v1.56.0
  cluster/clusters/cluster-0/media/immich/app/web/helm-release.yaml
Labels: area/cluster

match some other configs
  .github/markdownlint.config.yaml
  .github/renovate.json5
  .github/renovate/autoMerge.json5
  .github/renovate/disabledDatasources.json5
  .github/renovate/groups.json5
Labels: area/github
