Repository carpenike/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/hack, area/infrastructure

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.3.2.2892
  cluster/clusters/cluster-0/media/prowlarr/helm-release.yaml
Labels: area/cluster

fix(container): update image mbentley/omada-controller to ccdeee2
  cluster/clusters/cluster-0/network/omada/controller/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/plex to v1.31.1.6782-77dfff442
  cluster/clusters/cluster-0/media/plex/helm-release.yaml
Labels: area/cluster

feat(github-release): update fluxcd/flux2 to v0.41.0
  cluster/clusters/cluster-0/kustomization.yaml
Labels: area/cluster

feat(container): update image docker.io/n8nio/n8n to v0.219.0
  cluster/clusters/cluster-0/selfhosted/n8n/helm-release.yaml
Labels: area/cluster

update prometheus config to use updated config
  cluster/clusters/cluster-0/flux-system/cluster-config/secret.sops.yaml
  cluster/clusters/cluster-0/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/cluster

fix(container): update image mbentley/omada-controller to edacb5b
  cluster/clusters/cluster-0/network/omada/controller/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/bjw-s/calibre-web to 1cd6a2f
  cluster/clusters/cluster-0/media/calibre-web/helm-release.yaml
Labels: area/cluster

fix(container): update image docker.io/n8nio/n8n to v0.219.1
  cluster/clusters/cluster-0/selfhosted/n8n/helm-release.yaml
Labels: area/cluster

fix(github-release): update fluxcd/flux2 to v0.41.1
  cluster/clusters/cluster-0/kustomization.yaml
Labels: area/cluster

Prevent dns search option on hosts
  infrastructure/talos/cluster-0/talconfig.yaml
Labels: area/infrastructure

fix(container): update image rancher/k3s to v1.26.2
  cluster/clusters/cluster-0/staging-tenant/vcluster/helm-release.yaml
Labels: area/cluster

add steffi mbp to leases
  infrastructure/_shared/address_book.yaml
Labels: area/infrastructure

add taylor's ipad
  infrastructure/_shared/address_book.yaml
Labels: area/infrastructure

update terraform modules
  infrastructure/vyos/.terraform.lock.hcl
Labels: area/infrastructure

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.3.2.2908
  cluster/clusters/cluster-0/media/prowlarr/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.3.2.2909
  cluster/clusters/cluster-0/media/prowlarr/helm-release.yaml
Labels: area/cluster

feat(container): update image sismics/docs to v1.11
  cluster/clusters/cluster-0/selfhosted/teedy/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.3.2.2914
  cluster/clusters/cluster-0/media/prowlarr/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.3.2.2917
  cluster/clusters/cluster-0/media/prowlarr/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.3.2.2921
  cluster/clusters/cluster-0/media/prowlarr/helm-release.yaml
Labels: area/cluster

fix(helm): update chart grafana to 6.52.3
  cluster/clusters/cluster-0/monitoring/grafana/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.400
  cluster/clusters/cluster-0/media/sonarr/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v1.3.2.2925
  cluster/clusters/cluster-0/media/prowlarr/helm-release.yaml
Labels: area/cluster

feat(container): update image ghcr.io/onedr0p/tautulli to v2.12.0
  cluster/clusters/cluster-0/media/tautulli/helm-release.yaml
Labels: area/cluster

temporarily drop cnpg
  cluster/clusters/cluster-0/flux-system/definitions/db.yaml
Labels: area/cluster

fix(container): update image ghcr.io/foxcpp/maddy to v0.6.3
  cluster/clusters/cluster-0/selfhosted/smtp-relay/helm-release.yaml
Labels: area/cluster

redeploy cnpg
  cluster/clusters/cluster-0/db/cloudnative-pg/app/externalsecret.yaml
  cluster/clusters/cluster-0/db/cloudnative-pg/app/helm-release.yaml
  cluster/clusters/cluster-0/db/cloudnative-pg/app/kustomization.yaml
  cluster/clusters/cluster-0/db/cloudnative-pg/cluster/cluster.yaml
  cluster/clusters/cluster-0/db/cloudnative-pg/cluster/kustomization.yaml
  cluster/clusters/cluster-0/db/cloudnative-pg/cluster/prometheusrule.yaml
  cluster/clusters/cluster-0/db/cloudnative-pg/cluster/scheduledbackup.yaml
  cluster/clusters/cluster-0/db/cloudnative-pg/cluster/service.yaml
  cluster/clusters/cluster-0/db/cloudnative-pg/crds/crds.yaml
  cluster/clusters/cluster-0/db/cloudnative-pg/crds/kustomization.yaml
  cluster/clusters/cluster-0/flux-system/definitions/db.yaml
Labels: area/cluster

invalid variable name
  cluster/clusters/cluster-0/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.401
  cluster/clusters/cluster-0/media/sonarr/helm-release.yaml
Labels: area/cluster

fix(container): update image mbentley/omada-controller to 6dc30da
  cluster/clusters/cluster-0/network/omada/controller/helm-release.yaml
Labels: area/cluster

forgot to commit the address
  cluster/clusters/cluster-0/flux-system/cluster-config/configmap.yaml
Labels: area/cluster

fix(helm): update chart kubelet-csr-approver to 0.2.8
  cluster/clusters/cluster-0/kube-system/kubelet-csr-approver/helm-release.yaml
  infrastructure/talos/cluster-0/kubelet-csr-approver/kustomization.yaml
Labels: area/cluster, area/infrastructure

fix(container): update image ghcr.io/onedr0p/plex to v1.31.2.6810-a607d384f
  cluster/clusters/cluster-0/media/plex/helm-release.yaml
Labels: area/cluster

namespace was wrong
  cluster/clusters/cluster-0/db/cloudnative-pg/app/kustomization.yaml
Labels: area/cluster

fix(container): update image ghcr.io/bjw-s/calibre-web to 66d23aa
  cluster/clusters/cluster-0/media/calibre-web/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/bjw-s/calibre-web to 7de10a6
  cluster/clusters/cluster-0/media/calibre-web/helm-release.yaml
Labels: area/cluster

pvc name was wrong
  cluster/clusters/cluster-0/db/cloudnative-pg/cluster/cluster.yaml
Labels: area/cluster

revert cluster version
  cluster/clusters/cluster-0/db/cloudnative-pg/cluster/cluster.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/tautulli to v2.12.1
  cluster/clusters/cluster-0/media/tautulli/helm-release.yaml
Labels: area/cluster

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "cluster/**/*"
area/hack:
  - "hack/**/*"
area/infrastructure:
  - "infrastructure/**/*"
