Repository carpenike/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/hack, area/infrastructure

add 3075
  infrastructure/vyos/firewall_rules.yaml
Labels: area/infrastructure

feat(github-release): update pre-commit hook pre-commit/pre-commit-hooks to v4.4.0
  .pre-commit-config.yaml
Labels: none

move shared terraform config files
  infrastructure/_shared/domains.sops.yaml
  infrastructure/_shared/networks.yaml
Labels: area/infrastructure

move address book to shared
  infrastructure/_shared/address_book.yaml
Labels: area/infrastructure

restructure folders and update modules to align to bjw-s
  infrastructure/vyos/.terraform.lock.hcl
  infrastructure/vyos/config/container-networks.tf
  infrastructure/vyos/config/containers-adguard-home.tf
  infrastructure/vyos/config/containers-haproxy.tf
  infrastructure/vyos/config/containers-udp-broadcast-relay.tf
  infrastructure/vyos/config/containers-vector.tf
  infrastructure/vyos/config/firewall.tf
  infrastructure/vyos/config/locals.tf
  infrastructure/vyos/config/nat.tf
  infrastructure/vyos/config/protocols-bgp.tf
  infrastructure/vyos/config/scripts.tf
  infrastructure/vyos/config/service-dhcp-server.tf
  infrastructure/vyos/config/service-dns-dynamic.tf
  infrastructure/vyos/config/service-ssh.tf
  infrastructure/vyos/config/system.tf
  infrastructure/vyos/config/zone_policy.tf
  infrastructure/vyos/firewall_rules.yaml
  infrastructure/vyos/locals.tf
  infrastructure/vyos/main.tf
  infrastructure/vyos/modules/config/container-networks.tf
  infrastructure/vyos/modules/config/containers-adguard-home.tf
  infrastructure/vyos/modules/config/containers-coredns.tf
  infrastructure/vyos/modules/config/containers-haproxy.tf
  infrastructure/vyos/modules/config/containers-udp-broadcast-relay.tf
  infrastructure/vyos/modules/config/containers-vector.tf
  infrastructure/vyos/modules/config/firewall.tf
  infrastructure/vyos/modules/config/main.tf
  infrastructure/vyos/modules/config/nat.tf
  infrastructure/vyos/modules/config/protocols-bgp.tf
  infrastructure/vyos/modules/config/scripts.tf
  infrastructure/vyos/modules/config/service-dhcp-server.tf
  infrastructure/vyos/modules/config/service-dns-dynamic.tf
  infrastructure/vyos/modules/config/service-http-api.tf
  infrastructure/vyos/modules/config/service-ssh.tf
  infrastructure/vyos/modules/config/system.tf
  infrastructure/vyos/modules/config/variables.tf
  infrastructure/vyos/providers.tf
  infrastructure/vyos/scripts/commit/pre-hooks.d/add-container-images
Labels: area/infrastructure

update rymac address
  infrastructure/_shared/address_book.yaml
Labels: area/infrastructure

feat(container): update image ghcr.io/zwave-js/zwave-js-ui to v8.5.1
  cluster/clusters/cluster-0/home/zwavejs2mqtt/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/kubernetes-kubectl to 8ad5ad0
  cluster/clusters/cluster-0/network/cloudflare-ddns/cron-job.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to c85551f
  cluster/clusters/cluster-0/media/prowlarr/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/tautulli to 8eb83f9
  cluster/clusters/cluster-0/media/tautulli/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/plex to 2059706
  cluster/clusters/cluster-0/media/plex/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/qbittorrent to 3816fcd
  cluster/clusters/cluster-0/media/qbittorrent/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/kubernetes-kubectl to 0d416e4
  cluster/clusters/cluster-0/network/cloudflare-ddns/cron-job.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/plex to 5c5f613
  cluster/clusters/cluster-0/media/plex/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/readarr-nightly to 3438d51
  cluster/clusters/cluster-0/media/readarr/audio/helm-release.yaml
  cluster/clusters/cluster-0/media/readarr/ebooks/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/sabnzbd to 4bfc890
  cluster/clusters/cluster-0/media/sabnzbd/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/plex to 3457eee
  cluster/clusters/cluster-0/media/plex/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v0.4.10.2099
  cluster/clusters/cluster-0/media/prowlarr/helm-release.yaml
Labels: area/cluster

feat(container): update image ghcr.io/onedr0p/qbittorrent to v4.5.0
  cluster/clusters/cluster-0/media/qbittorrent/helm-release.yaml
Labels: area/cluster

allow all internet access from xbox
  infrastructure/vyos/firewall_rules.yaml
  infrastructure/vyos/settings.yaml
Labels: area/infrastructure

remove trailing line break
  infrastructure/vyos/firewall_rules.yaml
Labels: area/infrastructure

update groups for rybook
  infrastructure/_shared/address_book.yaml
Labels: area/infrastructure

deploy teedy
  cluster/clusters/cluster-0/flux-system/definitions/selfhosted.yaml
  cluster/clusters/cluster-0/selfhosted/paperless/app/helm-release.yaml
  cluster/clusters/cluster-0/selfhosted/paperless/app/kustomization.yaml
  cluster/clusters/cluster-0/selfhosted/paperless/app/secret.sops.yaml
  cluster/clusters/cluster-0/selfhosted/paperless/redis/helm-release.yaml
  cluster/clusters/cluster-0/selfhosted/paperless/redis/kustomization.yaml
  cluster/clusters/cluster-0/selfhosted/teedy/config-pvc.yaml
  cluster/clusters/cluster-0/selfhosted/teedy/helm-release.yaml
  cluster/clusters/cluster-0/selfhosted/teedy/kustomization.yaml
  infrastructure/vyos/settings.yaml
Labels: area/cluster, area/infrastructure

add service info for teedy
  cluster/clusters/cluster-0/selfhosted/teedy/helm-release.yaml
Labels: area/cluster

swap ingress controller for teedy
  cluster/clusters/cluster-0/selfhosted/teedy/helm-release.yaml
Labels: area/cluster

modify mount type
  cluster/clusters/cluster-0/selfhosted/teedy/helm-release.yaml
Labels: area/cluster

modify paperless config
  cluster/clusters/cluster-0/selfhosted/paperless/app/helm-release.yaml
  cluster/clusters/cluster-0/selfhosted/paperless/app/secret.sops.yaml
Labels: area/cluster

enable paperless
  cluster/clusters/cluster-0/flux-system/definitions/selfhosted.yaml
Labels: area/cluster

allow ssh from wireless to server vlan
  infrastructure/vyos/settings.yaml
Labels: area/infrastructure

add paperless group
  cluster/clusters/cluster-0/security/glauth/config/groups.sops.toml
  cluster/clusters/cluster-0/security/glauth/config/users.sops.toml
Labels: area/cluster

add oauth secret for authelia / gitops
  cluster/clusters/cluster-0/flux-system/cluster-config/secret.sops.yaml
Labels: area/cluster

add weave-gitops charts
  cluster/base/repositories/helm/kustomization.yaml
  cluster/base/repositories/helm/weave-gitops-charts.yaml
Labels: area/cluster

authelia add weave-gitops support
  cluster/clusters/cluster-0/security/authelia/app/config/configuration.yml
Labels: area/cluster

deploy weave-gitops
  cluster/clusters/cluster-0/flux-system/definitions/selfhosted.yaml
  cluster/clusters/cluster-0/selfhosted/weave-gitops/helm-release.yaml
  cluster/clusters/cluster-0/selfhosted/weave-gitops/kustomization.yaml
  cluster/clusters/cluster-0/selfhosted/weave-gitops/secret.sops.yaml
Labels: area/cluster

update teleport version
  cluster/clusters/cluster-0/teleport-cluster/teleport/cluster/helm-release.yaml
Labels: area/cluster

change language
  cluster/clusters/cluster-0/selfhosted/paperless/app/helm-release.yaml
Labels: area/cluster

disable redis config for now
  cluster/clusters/cluster-0/security/authelia/app/config/configuration.yml
Labels: area/cluster

change admin name
  cluster/clusters/cluster-0/selfhosted/weave-gitops/helm-release.yaml
Labels: area/cluster

enable acme support for teleport
  cluster/clusters/cluster-0/teleport-cluster/teleport/cluster/helm-release.yaml
Labels: area/cluster

try it this way
  cluster/clusters/cluster-0/teleport-cluster/teleport/cluster/helm-release.yaml
Labels: area/cluster

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "cluster/**/*"
area/hack:
  - "hack/**/*"
area/infrastructure:
  - "infrastructure/**/*"
