Repository carpenike/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/hack, area/infrastructure

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "cluster/**/*"
area/hack:
  - "hack/**/*"
area/infrastructure:
  - "infrastructure/**/*"

allow nodeports
  cluster/clusters/cluster-0/staging-tenant/vcluster/helm-release.yaml
Labels: area/cluster

cleanup
  cluster/clusters/cluster-0/staging-tenant/vcluster/kustomization.yaml
  cluster/clusters/cluster-0/staging-tenant/vcluster/limit-range.yaml
  cluster/clusters/cluster-0/staging-tenant/vcluster/resource-quota.yaml
Labels: area/cluster

feat(github-release): update fluxcd/flux2 to v0.35.0
  cluster/clusters/cluster-0/kustomization.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v0.4.7.1994
  cluster/clusters/cluster-0/media/prowlarr/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v0.4.7.1995
  cluster/clusters/cluster-0/media/prowlarr/helm-release.yaml
Labels: area/cluster

feat(helm): update chart kube-prometheus-stack to 40.3.0
  cluster/base/repositories/git/kube-prometheus-stack.yaml
  cluster/clusters/cluster-0/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/cluster

feat(helm): update chart redis to 17.3.1
  cluster/clusters/cluster-0/db/redis/helm-release.yaml
Labels: area/cluster

feat(container)!: Update image ghcr.io/onedr0p/sonarr-develop to v4
  cluster/clusters/cluster-0/media/sonarr/helm-release.yaml
Labels: area/cluster

fix(helm): update chart vcluster to 0.12.1
  cluster/clusters/cluster-0/staging-tenant/vcluster/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/shlinkio/shlink to v3.3.1
  cluster/clusters/cluster-0/web-tools/shlink/api/helm-release.yaml
Labels: area/cluster

feat(helm): update chart kube-prometheus-stack to 40.3.1
  cluster/base/repositories/git/kube-prometheus-stack.yaml
  cluster/clusters/cluster-0/monitoring/kube-prometheus-stack/app/helm-release.yaml
Labels: area/cluster

feat(container): update image ghcr.io/coder/code-server to v4.7.1
  cluster/clusters/cluster-0/home/home-assistant/code-server/helm-release.yaml
Labels: area/cluster

feat(container): update image ghcr.io/koenkk/zigbee2mqtt to v1.28.0
  cluster/clusters/cluster-0/home/zigbee2mqtt/helm-release.yaml
Labels: area/cluster

fix(helm): update chart thanos to 11.5.4
  cluster/clusters/cluster-0/monitoring/thanos/helm-release.yaml
Labels: area/cluster

fix lint problem
  cluster/clusters/cluster-0/matrix/element/helm-release.yaml
Labels: area/cluster

fix lint problem
  deprecated-k8s/clusters/cluster-0/manifests/rook-ceph/cluster/helm-release.yaml
Labels: none

update lint problems
  cluster/clusters/cluster-0/matrix/pantalaimon/helm-release.yaml
Labels: area/cluster

configure spaces for whatsapp
  cluster/clusters/cluster-0/matrix/whatsapp/config/config.yaml
Labels: area/cluster

disable provisioning api for now
  cluster/clusters/cluster-0/matrix/slack-puppet/config/config.yaml
Labels: area/cluster

dumb error
  cluster/clusters/cluster-0/matrix/slack-puppet/config/registration.yaml
Labels: area/cluster

re-enable shared secret
  cluster/clusters/cluster-0/matrix/slack-puppet/config/config.yaml
Labels: area/cluster

enable group creation
  cluster/clusters/cluster-0/matrix/synapse/config/homeserver.yaml
Labels: area/cluster

enable group sync
  cluster/clusters/cluster-0/matrix/slack-puppet/config/config.yaml
Labels: area/cluster

let's re-enable the matrix slack appservice
  cluster/clusters/cluster-0/flux-system/definitions/matrix.yaml
Labels: area/cluster

re-enable synapse slack integration
  cluster/clusters/cluster-0/matrix/synapse/config/homeserver.yaml
  cluster/clusters/cluster-0/matrix/synapse/helm-release.yaml
Labels: area/cluster

force the configuration of media_url
  cluster/clusters/cluster-0/matrix/slack/config/config.yaml
Labels: area/cluster

detail / document pod and svc nets
  infrastructure/talos/cluster-0/talconfig.yaml
Labels: area/infrastructure

disable matrix appservice
  cluster/clusters/cluster-0/flux-system/definitions/matrix.yaml
  cluster/clusters/cluster-0/matrix/synapse/config/homeserver.yaml
  cluster/clusters/cluster-0/matrix/synapse/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.133
  cluster/clusters/cluster-0/media/sonarr/helm-release.yaml
Labels: area/cluster

fix(helm): update chart grafana to 6.40.1
  cluster/clusters/cluster-0/monitoring/grafana/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/dexidp/dex to v2.35.1
  cluster/clusters/cluster-0/security/dex/helm-release.yaml
Labels: area/cluster

feat(helm): update chart dex to 0.12.0
  cluster/clusters/cluster-0/security/dex/helm-release.yaml
Labels: area/cluster

update ingress stuff
  cluster/clusters/cluster-0/monitoring/grafana/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v0.4.7.2000
  cluster/clusters/cluster-0/media/prowlarr/helm-release.yaml
Labels: area/cluster

change namespace name web-tools to selfhosted
  cluster/clusters/cluster-0/flux-system/definitions/selfhosted.yaml
  cluster/clusters/cluster-0/selfhosted/kustomization.yaml
  cluster/clusters/cluster-0/selfhosted/namespace.yaml
  cluster/clusters/cluster-0/selfhosted/shlink/api/helm-release.yaml
  cluster/clusters/cluster-0/selfhosted/shlink/api/kustomization.yaml
  cluster/clusters/cluster-0/selfhosted/shlink/api/patches/postgres.yaml
  cluster/clusters/cluster-0/selfhosted/shlink/api/secret.sops.yaml
  cluster/clusters/cluster-0/selfhosted/shlink/web/helm-release.yaml
  cluster/clusters/cluster-0/selfhosted/shlink/web/kustomization.yaml
  cluster/clusters/cluster-0/selfhosted/shlink/web/secret.sops.yaml
  cluster/clusters/cluster-0/selfhosted/smtp-relay/config/maddy.conf
  cluster/clusters/cluster-0/selfhosted/smtp-relay/helm-release.yaml
  cluster/clusters/cluster-0/selfhosted/smtp-relay/kustomization.yaml
  cluster/clusters/cluster-0/selfhosted/smtp-relay/secret.sops.yaml
  cluster/clusters/cluster-0/selfhosted/smtp-relay/service-monitor.yaml
Labels: area/cluster

deploy obsidian-couchdb
  cluster/clusters/cluster-0/flux-system/definitions/selfhosted.yaml
  cluster/clusters/cluster-0/selfhosted/obsidian-couchdb/config/config.ini
  cluster/clusters/cluster-0/selfhosted/obsidian-couchdb/data-pvc.yaml
  cluster/clusters/cluster-0/selfhosted/obsidian-couchdb/helm-release.yaml
  cluster/clusters/cluster-0/selfhosted/obsidian-couchdb/kustomization.yaml
  cluster/clusters/cluster-0/selfhosted/obsidian-couchdb/secret.sops.yaml
Labels: area/cluster

fix namespace for api postgres initdb process
  cluster/clusters/cluster-0/selfhosted/shlink/api/patches/postgres.yaml
Labels: area/cluster

update chart repo name
  cluster/clusters/cluster-0/selfhosted/obsidian-couchdb/helm-release.yaml
Labels: area/cluster

fix(helm): update chart reloader to v0.0.122
  cluster/clusters/cluster-0/kube-system/reloader/helm-release.yaml
Labels: area/cluster

bump memory limit
  cluster/clusters/cluster-0/selfhosted/obsidian-couchdb/helm-release.yaml
Labels: area/cluster
