Repository carpenike/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/hack, area/infrastructure

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "cluster/**/*"
area/hack:
  - "hack/**/*"
area/infrastructure:
  - "infrastructure/**/*"

remove unneeded pointer
  .github/renovate.json5
Labels: area/github

make them all json5 docs
  .github/renovate/commitMessage.json5
  .github/renovate/labels.json5
  .github/renovate/semanticCommits.json5
Labels: area/github

change link from master to main
  README.md
Labels: none

fix(container): update image ghcr.io/onedr0p/plex to 0b1c10b
  cluster/clusters/cluster-0/media/plex/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/plex to 0b1c10b
  cluster/clusters/cluster-0/media/plex/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/sonarr-develop to 63e0636
  cluster/clusters/cluster-0/media/sonarr/helm-release.yaml
Labels: area/cluster

add readarr api key to secret
  cluster/clusters/cluster-0/media/readarr-audio/secret.sops.yaml
Labels: area/cluster

update pre-commit config
  .pre-commit-config.yaml
Labels: none

re-parent readarr and enable ebooks
  cluster/clusters/cluster-0/flux-system/definitions/media.yaml
  cluster/clusters/cluster-0/media/readarr-ebooks/helm-release.yaml
  cluster/clusters/cluster-0/media/readarr/audio/config-pvc.yaml
  cluster/clusters/cluster-0/media/readarr/audio/helm-release.yaml
  cluster/clusters/cluster-0/media/readarr/audio/kustomization.yaml
  cluster/clusters/cluster-0/media/readarr/audio/secret.sops.yaml
  cluster/clusters/cluster-0/media/readarr/ebooks/config-pvc.yaml
  cluster/clusters/cluster-0/media/readarr/ebooks/helm-release.yaml
  cluster/clusters/cluster-0/media/readarr/ebooks/kustomization.yaml
  cluster/clusters/cluster-0/media/readarr/ebooks/secret.sops.yaml
Labels: area/cluster

fix host for ebooks
  cluster/clusters/cluster-0/media/readarr/ebooks/helm-release.yaml
Labels: area/cluster

add apikey to secret
  cluster/clusters/cluster-0/media/readarr/ebooks/secret.sops.yaml
Labels: area/cluster

add grafana crd endpoints
  cluster/base/repositories/git/grafana.yaml
  cluster/base/repositories/git/kustomization.yaml
Labels: area/cluster

fix loki config
  cluster/clusters/cluster-0/monitoring/loki/helm-release.yaml
Labels: area/cluster

add a loki alerting rule
  cluster/clusters/cluster-0/monitoring/loki/config-map.yaml
  cluster/clusters/cluster-0/monitoring/loki/kustomization.yaml
Labels: area/cluster

feat(github-release): update alex1989hu/kubelet-serving-cert-approver to v0.6.0
  cluster/clusters/cluster-0/kubelet-serving-cert-approver/kubelet-serving-cert-approver/kustomization.yaml
Labels: area/cluster

monitor apc-ups
  cluster/clusters/cluster-0/flux-system/definitions/monitoring.yaml
  cluster/clusters/cluster-0/monitoring/snmp-exporter/apc-ups/config-map.yaml
  cluster/clusters/cluster-0/monitoring/snmp-exporter/apc-ups/dashboard/apc-ups.json
  cluster/clusters/cluster-0/monitoring/snmp-exporter/apc-ups/dashboard/kustomization.yaml
  cluster/clusters/cluster-0/monitoring/snmp-exporter/apc-ups/helm-release.yaml
  cluster/clusters/cluster-0/monitoring/snmp-exporter/apc-ups/kustomization.yaml
  cluster/clusters/cluster-0/monitoring/snmp-exporter/apc-ups/prometheus-rule.yaml
Labels: area/cluster

deploy media-browser
  cluster/clusters/cluster-0/flux-system/definitions/media.yaml
  cluster/clusters/cluster-0/media/media-browser/config-pvc.yaml
  cluster/clusters/cluster-0/media/media-browser/helm-release.yaml
  cluster/clusters/cluster-0/media/media-browser/kustomization.yaml
Labels: area/cluster

change ingress domain
  cluster/clusters/cluster-0/media/media-browser/helm-release.yaml
Labels: area/cluster

add external-dns
  cluster/clusters/cluster-0/flux-system/definitions/network.yaml
  cluster/clusters/cluster-0/network/external-dns/helm-release.yaml
  cluster/clusters/cluster-0/network/external-dns/kustomization.yaml
  cluster/clusters/cluster-0/network/external-dns/secret.sops.yaml
Labels: area/cluster

mount path was wrong
  cluster/clusters/cluster-0/media/media-browser/helm-release.yaml
Labels: area/cluster

add secret for authelia to auth k10
  cluster/clusters/cluster-0/flux-system/cluster-config/secret.sops.yaml
Labels: area/cluster

move k10 to authelia
  cluster/clusters/cluster-0/kasten-io/k10/k10-secrets.sops.yaml
  cluster/clusters/cluster-0/security/authelia/app/config/configuration.yml
Labels: area/cluster

add external-dns-charts repo
  cluster/base/repositories/helm/external-dns-charts.yaml
  cluster/base/repositories/helm/kustomization.yaml
Labels: area/cluster

deprecate dex
  cluster/clusters/cluster-0/flux-system/definitions/security.yaml
Labels: area/cluster

add annotation for media browser
  cluster/clusters/cluster-0/media/media-browser/helm-release.yaml
Labels: area/cluster

deploy home-assistant
  cluster/clusters/cluster-0/flux-system/definitions/home.yaml
  cluster/clusters/cluster-0/home/home-assistant/app/config-pvc.yaml
  cluster/clusters/cluster-0/home/home-assistant/app/helm-release.yaml
  cluster/clusters/cluster-0/home/home-assistant/app/home-assistant-code-server-secret.sops.yaml
  cluster/clusters/cluster-0/home/home-assistant/app/home-assistant-secrets.sops.yaml
  cluster/clusters/cluster-0/home/home-assistant/app/kustomization.yaml
  cluster/clusters/cluster-0/home/home-assistant/app/patches/postgres.yaml
  cluster/clusters/cluster-0/home/home-assistant/helm-release.yaml
  cluster/clusters/cluster-0/home/home-assistant/home-assistant-postgresql-secret.enc.yaml
  cluster/clusters/cluster-0/home/home-assistant/home-assistant-secrets.enc.yaml
  cluster/clusters/cluster-0/home/home-assistant/kustomization.yaml
  cluster/clusters/cluster-0/home/home-assistant/postgres-db.yaml
  cluster/clusters/cluster-0/home/home-assistant/postgres-secrets.enc.yaml
  cluster/clusters/cluster-0/home/home-assistant/postgresql-data-pvc.yaml
Labels: area/cluster

change dependencies
  cluster/clusters/cluster-0/flux-system/definitions/kasten-io.yaml
Labels: area/cluster

dumb, not the right namespace
  cluster/clusters/cluster-0/home/home-assistant/app/helm-release.yaml
Labels: area/cluster

update secret files
  cluster/clusters/cluster-0/home/home-assistant/app/home-assistant-code-server-secret.sops.yaml
  cluster/clusters/cluster-0/home/home-assistant/app/kustomization.yaml
  cluster/clusters/cluster-0/home/home-assistant/app/secret.sops.yaml
Labels: area/cluster

not an array
  cluster/clusters/cluster-0/home/home-assistant/app/helm-release.yaml
Labels: area/cluster

fix loki uri
  cluster/clusters/cluster-0/monitoring/grafana/helm-release.yaml
Labels: area/cluster

fix uri v2
  cluster/clusters/cluster-0/monitoring/grafana/helm-release.yaml
Labels: area/cluster

add anonymous auth
  cluster/clusters/cluster-0/monitoring/grafana/helm-release.yaml
Labels: area/cluster

change secret name for init process
  cluster/clusters/cluster-0/home/home-assistant/app/patches/postgres.yaml
Labels: area/cluster

add ndots 1 to exporter
  cluster/clusters/cluster-0/monitoring/speedtest-exporter/helm-release.yaml
Labels: area/cluster

deploy frigate
  cluster/clusters/cluster-0/flux-system/definitions/home.yaml
  cluster/clusters/cluster-0/home/frigate/config.yaml
  cluster/clusters/cluster-0/home/frigate/helm-release.yaml
  cluster/clusters/cluster-0/home/frigate/kustomization.yaml
  cluster/clusters/cluster-0/home/frigate/secret.sops.yaml
Labels: area/cluster

fix the config variable
  cluster/clusters/cluster-0/home/frigate/config.yaml
Labels: area/cluster

dumb typo
  cluster/clusters/cluster-0/home/frigate/helm-release.yaml
Labels: area/cluster

forgot to remove this section as it's no longer needed
  cluster/clusters/cluster-0/home/frigate/helm-release.yaml
Labels: area/cluster

add auth and public access to frigate
  cluster/clusters/cluster-0/home/frigate/helm-release.yaml
Labels: area/cluster
